<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
 xmlns:context="http://www.springframework.org/schema/context" 
 xmlns:p="http://www.springframework.org/schema/p" 
 xmlns:mvc="http://www.springframework.org/schema/mvc" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"   
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd 
      http://www.springframework.org/schema/aop   
      http://www.springframework.org/schema/aop/spring-aop-3.2.xsd   
      http://www.springframework.org/schema/mvc 
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"> 
       
     <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射--> 
     <mvc:annotation-driven>
    	<mvc:message-converters>
    		<bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
    		<!-- <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    			<property name="objectMapper" ref="smObjectMapper"></property>
    		</bean> -->
    	</mvc:message-converters>
     </mvc:annotation-driven>
	 <!-- <bean id="smObjectMapper" class="com.supermap.egispweb.util.SMObjectMapper"></bean> -->
 	 <!-- 拦截器 -->
 	  <mvc:interceptors> 
 	 	<mvc:interceptor>
 	 		<!-- 公共部分，下面两部分只能启用其中一个 -->
 	 		<mvc:mapping path="/**"/>
 	 		<mvc:exclude-mapping path="/resources/**"/>
 	 		<mvc:exclude-mapping path="/user/initUserInfoAndOrder"/>
 	 		<!-- 线上部署 -->
 	 		<mvc:exclude-mapping path="/welcome/show"/>
 	 		<mvc:exclude-mapping path="/loginIn"/>
 	 		<mvc:exclude-mapping path="/user/login"/>
 	 		<mvc:exclude-mapping path="/pointService/initSessionUserByKey"/>
 	 		<!-- 离线部署配置 
 	 		<mvc:exclude-mapping path="/login"/>
 	 		<mvc:exclude-mapping path="/user/login"/>
 	 		<mvc:exclude-mapping path="/user/uploadLicense"/>
 	 		<mvc:exclude-mapping path="/user/update/pass"/>
 	 		-->
	     	<bean class="com.supermap.egispweb.interceptor.LoginInterceptor" />
 	 	</mvc:interceptor> 
     </mvc:interceptors>
 	 <!-- 
 	 <mvc:interceptors>  
     	<bean class="com.supermap.egispweb.interceptor.LoginInterceptor" />
     </mvc:interceptors>
      -->
     
     <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean --> 
     <context:component-scan base-package="com.supermap.egispweb.action" /> 
 
     <!-- 对模型视图名称的解析，在WEB-INF/jsp目录下找对应的jsp文件 --> 
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" /> 
   		
   	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="UTF-8"/>  
        <!-- 指定所上传文件的总大小不能超过2M。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->  
        <property name="maxUploadSize" value="2097152"/>  
    </bean>  
     
         
      <!-- 定义html文件的位置 --> 
      <bean class="com.supermap.egispweb.util.HtmlViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".html" p:order="1" /> 
    <!--放过/scripts下的静态文件--> 
    <mvc:resources mapping="/resources/**" location="/resources/" /> 
    
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>  
				<prop key="java.lang.Throwable">error/500</prop>
            </props>  
		</property>  
    </bean>
    
    
    <!-- AOP -->
    <!-- <context:component-scan base-package="com.supermap.egispweb.springAOP" annotation-config="true"/>
    <aop:aspectj-autoproxy  proxy-target-class="true"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" /> -->
</beans> 