	.theme-image{background: url(img/banner.png) no-repeat scroll center;height: 300px;}    
    .feedback{width: 1100px;margin: 108px auto 70px auto;padding:0px 140px 0px 120px;}
    label{font-size: 14px;}
    input{margin-bottom: 0px !important;}
    .position-right{position: absolute;top:15px;right: 15px;}
    .dropdown-menu{width: 100%;}
    .modal{top:45%;}
    .modal-custom{min-height: 200px;width: 480px;padding:40px;}
    .modal-custom .modal-custom-content{padding: 0px;}
    .modal-custom .modal-custom-content .title{font-size: 16px;}
    .btn:focus,
	.btn:active:focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn.active.focus {
	    outline: none;          
	}