<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:util="http://www.springframework.org/schema/util" 
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans.xsd   
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context.xsd   
          http://www.springframework.org/schema/aop   
          http://www.springframework.org/schema/aop/spring-aop.xsd   
          http://www.springframework.org/schema/tx    
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/cache 
          http://www.springframework.org/schema/cache/spring-cache.xsd
          http://www.springframework.org/schema/data/jpa
          http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd 
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util.xsd">
          
    <context:annotation-config /> 
    <context:component-scan base-package="com.supermap.egispservice.base.service" />
    <context:component-scan base-package="com.supermap.egispservice.base.util" />
    <context:component-scan base-package="com.supermap.egispservice.base.constants" />
    <import resource="provider.xml"/>
    <!-- <import resource="consumer.xml"/> -->
    <util:properties id="configParam" location="config.properties" />
    
    <!-- 定义实体管理器工厂 -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">  
    	<property name="persistenceUnitName" value="SupermapJPA"/>
    </bean>
         
    <!-- 配置事务管理器 -->  
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">  
    	<property name="entityManagerFactory" ref="entityManagerFactory" />  
    </bean> 
       
    <!-- 启用 annotation事务--> 
    <tx:annotation-driven transaction-manager="transactionManager"/> 
           
    <!-- 配置Spring Data JPA扫描目录--> 
    <jpa:repositories base-package="com.supermap.egispservice.base.dao"/>
    <jpa:repositories base-package="com.supermap.egispservice.base.entity"/>
    
    
    <!-- 邮件服务 -->
	<bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="protocol" value="smtp"></property>
		<property name="host" value="smtp.exmail.qq.com"></property>
		<property name="username" value="jiankong@supermapcloud.com"></property>
		<property name="password" value="map2014"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	<bean id="mailService" class="com.supermap.egispservice.base.service.impl.MailServiceImpl">
		<property name="sender" ref="sender"></property>
	</bean>
    
</beans> 