.top {
    background: url(../home/top.png) no-repeat center;
    height: 91px;
}
body {
    background: url(../home/back.png) no-repeat 0 0;
}

.home-panel {
    margin-top: 40px;  
    margin-left: 15px; 
	 
}
.home-panel .home-item {
    float: left;
}
.home-panel .home-item .title{
    color: #212121;
    font-size: 24px;
    font-family: 'microsoft yahei';
    margin-bottom: 30px;
    margin-top: 30px;
}
.home-panel .home-item .a {
    padding-left: 10px;
}
.home-panel .home-item .a a{
    color: #4d4d4d;
    font-size: 16px;
    font-family: 'microsoft yahei';
    line-height: 32px;
}
.home-panel .home-item .line{
    margin-left: 10px;
    background-color: #ddd;
    width: 70px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cell-4 {
    width: 25%;
}

.info-wrapper {
    padding-left: 48px;
    position: relative;
    z-index: 11;
}

body {
    background-color: #fff;
    font-size: 12px/1.5;
    font-family: 'microsoft yahei';
}
