/* 信息窗使用的样式 */

.infowindowpopup {
	
}
.infowindowTitle {
	background-color: #F9F9F9;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
	border-bottom: 1px solid #CCCCCC;
}
.infowindowTitleTxt {
	color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-left: 11px;
    white-space: nowrap;
    width: 100px;
}
.infowindowContent {
	overflow: hidden;
    padding: 9px 11px 6px 9px;
	text-align: left;
}
.infowindowContent div {
	padding: 0;
	text-align: left;
	font: 12px arial,SimSun,sans-serif;
}
.infowindowContentTable {
	margin-top: 2px;
	color: #4D4D4D;
	text-align: left;
	margin: 2px;
}
.infowindowContentTable td {
	line-height:18px;	
}

.infowindowSearch {
	height: 98px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.infowindowSearchTitle{
	background: url("../images/infowindow/background.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    width: 100%;
	display: block;
}

.infowindowSearchTitle li {
 	border-left: 1px solid #DADADA;
    cursor: pointer;
    float: left;
	/* padding-top: 7px; */
    height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 33%;
	/* line-height: 100%;
	vertical-align: middle; */
}
.infowindowSearchTitle li.hover {
    background: url("../images/infowindow/background.png") repeat-x scroll 0 -44px transparent;
    color: #4D4D4D;
    cursor: default;
}

.blueA, .blueA a {
    color: #3D6DCC;
    text-decoration: none;
}
.infowindowSearchTitle li.second {
    width: 33%;
}
.infowindowSearchTitle li img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    position: relative;
    /* top: 3px; 
    margin-left: 3px;*/
}
.infowindowSearchButton{
	border:1px solid gray; 
	background-color:white; 
	width:40px; 
	height:20px;
	line-height:16px;
	cursor:pointer;
}
.infowindowSearchInput{
	width:160px; 
	height:25px;
	line-height:25px; 
	border:1px solid #8e9baa;
	vertical-align:middle;
}
.infowindowSearchTitle span {
    font-size: 12px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.infowindowSearchContent {
	float: left;
    margin-right: 3px;
	margin-left:10px;
    margin-top: 0px;
    padding-top:0px;
    white-space: nowrap;
	font-family: "SimSun";
    
    /*padding: 10px 11px 9px 16px;height: 50px;*/
    text-align: left;
}
.infowindowSearchContent a{
	margin-left: 5px;
	color: #3D6DCC;
    text-decoration: none;
	outline: medium none;
}