<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>egispboss</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>accessFilter</filter-name>
    <filter-class>com.supermap.egispboss.filter.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>accessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/userService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>moduleService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.ServiceModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moduleService</servlet-name>
    <url-pattern>/moduleService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderService</servlet-name>
    <url-pattern>/orderService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>staffService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffService</servlet-name>
    <url-pattern>/staffService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>privilegeService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.PrivilegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>privilegeService</servlet-name>
    <url-pattern>/privilegeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roleService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roleService</servlet-name>
    <url-pattern>/roleService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sysUpdateLogService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.SysUpdateLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sysUpdateLogService</servlet-name>
    <url-pattern>/sysUpdateLogService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>pointService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.PointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pointService</servlet-name>
    <url-pattern>/pointService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>areaService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>areaService</servlet-name>
    <url-pattern>/areaService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>fendanService</servlet-name>
    <servlet-class>com.supermap.egispboss.servlet.FendanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fendanService</servlet-name>
    <url-pattern>/fendanService</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>eboss/index.html</welcome-file>
    <!-- <welcome-file>index.htm</welcome-file> -->
    <!-- <welcome-file>index.jsp</welcome-file> -->
  </welcome-file-list>
</web-app>