body 
{
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:78%;
}
#banner 
{
    border-bottom:1px solid #CCCCCC;
	color:#000000;
	font-size:130%;
	font-weight:bold;
	margin:23px 0 5px;
	padding:0 0 4px 5px;
}
div#text
{
	padding-left:22px;
}
p
{
	margin:1em 0 0.5em;
}
.foot
{
	border-top:1px solid #CCCCCC;
	font-size:0.8em;
	margin-top:20px;
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;
}

h1,h2,h3,h4
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	margin-bottom:0.4em;
	margin-top:1em;
}

h4 
{
	font-size:115%;
}

.dtH1,.dtH2,.dtH3,.dtH4
{
	margin-left:-18px;
}

div#text
{
	padding-left: 22px;
}

div.detailSample
{
	width:inherit;
	background-color:#E5EFF7;
	padding-bottom:0.2em;
	padding-top:0;
}

pre, code, .code
{
	color: #000066;
	font: 100% Monospace,Courier New,Courier;
}

a:link {
	color:#0000C8;
}

a:hover {
	color:#3366FF;
}
.box{ font-size:12px}
.box table{ font-size:12px}