@CHARSET "UTF-8";

.theLabel {
	margin-left: 5px;
}

.content {
	margin-top: 50px;
}

.leftPanel {
	width: 380px;
	float: left;
}

#address {
	width: 230px;
}

#file {
	width: 175px;
}

#upload {
	width: 80px;
}

#pageBar {
	text-align: center;
}

#pageBar ul {
	margin: 10px 0;
}

.result {
	color: red;
}

#table {
	border-bottom: 1px solid #ddd;
}