@CHARSET "UTF-8";

.content {
	margin-top: 50px;
}

.leftPanel {
	width: 360px;
	float: left;
}

#address {
	width: 210px;
}

#file {
	width: 175px;
}

.pageBar {
	text-align: center;
}

.pageBar ul {
	margin: 0;
}

.result {
	color: red;
}
