body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
.hide {
  display: none !important;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.wrapper .header {
  position: relative;
  width: 100%;
  height: 40px;
  background: #434343;
}
.wrapper .header .logo {
  float: left;
  margin-left: 5px;
  color: #fff;
  font: normal normal normal 13px/28px 'microsoft yahei';
}
.wrapper .header .logo.boc {
  display: inline-block;
  min-width: 32px;
  height: 28px;
  margin-top: 5px;
  padding-left: 22px;
  overflow: hidden;
  background: transparent url(../../images/logo/boc-sm.png) no-repeat 0 center;
}
.wrapper .header .logo.boc:after {
  content: '湖南省金融扶贫服务站电子地图';
}
.wrapper .header .logo.dth {
  display: inline-block;
  min-width: 32px;
  height: 28px;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 18px;
  overflow: hidden;
  background: transparent url(../../images/logo/dituhui-sm.png) no-repeat 0 center;
}
.wrapper .header .logo.dth:after {
  content: '地图慧';
}
.wrapper .header .return {
  float: left;
  margin-left: 15px;
  font: normal normal normal 14px/40px 'microsoft yahei';
  color: #fff;
  text-decoration: none;
}
.wrapper .header .return:hover,
.wrapper .header .return:active {
  text-decoration: none;
}
.wrapper .header .return:before {
  content: '<';
}
.wrapper .header .nav-btn {
  float: right;
  width: 36px;
  height: 100%;
}
.wrapper .header .nav-btn.share {
  background: transparent url(imgs/icon_share.png) no-repeat center center;
}
.wrapper .header .nav-btn.search {
  background: transparent url(imgs/icon_search.png) no-repeat center center;
}
.wrapper .map,
.wrapper #map {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  border: none;
}
.wrapper .smcity {
  position: absolute;
  left: 10px;
  top: 55px;
  min-width: 60px;
  height: 30px;
  background: rgba(3, 3, 3, 0.5) url(imgs/map/marker-smcity.png) no-repeat 5px center;
  padding: 0 5px 0 25px;
  font: normal normal normal 14px/30px 'microsoft yahei';
  color: #fff;
  z-index: 5005;
}
.wrapper .my-location {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  background: transparent url(imgs/map/icon_location.png) no-repeat center center;
  z-index: 5001;
}
.smControlZoom.smControlNoSelect {
  position: absolute;
  right: 15px !important;
  bottom: 30px !important;
  left: auto !important;
  top: auto !important;
}
.modal-share {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5008;
  overflow: hidden;
}
.modal-share .back {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.modal-share .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 185px;
  background: #fff;
  z-index: 2;
}
.modal-share .content .share {
  width: 99%;
  height: 150px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin: 0 auto;
}
.modal-share .content .share .title {
  width: 100%;
  height: 35px;
  text-align: center;
  font: normal normal normal 15px/35px 'microsoft yahei';
}
.modal-share .content .share .tools {
  width: 100%;
  height: 115px;
}
.modal-share .content .share .tools ul {
  margin: 0;
}
.modal-share .content .share .tools ul li {
  position: relative;
  width: 90px;
  height: 100px;
  float: left;
  margin: 0 10px;
}
.modal-share .content .share .tools ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
}
.modal-share .content .share .tools ul li a span {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  display: inline-block;
  font: normal normal normal 13px/20px 'microsoft yahei';
  text-align: center;
  color: #333;
}
.modal-share .content .share .tools ul li a.copy-links {
  background: transparent url(imgs/copy_link.png) no-repeat center 6px;
}
.modal-share .content .share .tools ul li a:hover,
.modal-share .content .share .tools ul li a:active {
  background-color: #ddd;
}
.modal-share .content .cancel {
  width: 100%;
  height: 35px;
  text-align: center;
  font: normal normal normal 15px/35px 'microsoft yahei';
}
.modal-share .content .cancel:active {
  background-color: #f5f5f5;
}
.modal-success {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5088;
  overflow: hidden;
}
.modal-success .back {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}
.modal-success .box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin: -45px 0 0 -45px;
  background: #333 url(imgs/icon_right.png) no-repeat center 5px;
}
.modal-success .box span {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  display: inline-block;
  font: normal normal normal 14px/30px 'microsoft yahei';
  text-align: center;
  color: #fff;
}
.modal-error {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5008;
  overflow: hidden;
}
.modal-error .back {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}
.modal-error .box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin: -45px 0 0 -45px;
  background: #333 url(imgs/icon_wrong.png) no-repeat center 5px;
}
.modal-error .box span {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  display: inline-block;
  font: normal normal normal 14px/30px 'microsoft yahei';
  text-align: center;
  color: #fff;
}
.sm-citys {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 5008;
  background: #fff;
  overflow-y: auto;
}
.sm-citys .content.province {
  z-index: 5008;
}
.sm-citys .content.city {
  z-index: 5009;
}
.sm-citys .content.county {
  z-index: 5010;
}
.sm-citys ul li {
  font-family: 'microsoft yahei';
  font-size: 15px;
}
.sm-citys ul li .text {
  float: left;
  min-width: 100px;
  width: 80%;
  background: transparent url(imgs/map/marker-red.png) no-repeat 0 center;
  padding-left: 18px;
}
.sm-citys ul li div.ft {
  float: right;
  text-align: right;
  color: #888;
  width: 20%;
}
.sm-citys ul li div.ft:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  top: -1px;
  margin-left: .3em;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5008;
  background: #fff;
  overflow-y: auto;
}
.modal .modal-header {
  position: relative;
  width: 100%;
  height: 40px;
  background: #434343;
  text-align: center;
}
.modal .modal-header .return {
  float: left;
  margin-left: 15px;
  font: normal normal normal 14px/40px 'microsoft yahei';
  color: #fff;
  text-decoration: none;
}
.modal .modal-header .return:hover,
.modal .modal-header .return:active {
  text-decoration: none;
}
.modal .modal-header .return:before {
  content: '<';
}
.modal .modal-header span {
  font: normal normal normal 14px/40px 'microsoft yahei';
  color: #fff;
  margin: 0 0 0 -40px;
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-search .modal-header {
  position: relative;
}
.modal-search .modal-header .input-search {
  position: relative;
  width: 60%;
  height: 26px;
  margin: 8px 5px 0 10px;
  background: #fff;
  float: left;
}
.modal-search .modal-header .input-search input {
  width: calc(100% - 25px);
  height: 26px;
  border: none;
  float: left;
  margin: 0;
  padding: 0 7px;
  font: normal normal normal 14px/26px "microsoft yahei";
}
.modal-search .modal-header .input-search .clear-input {
  width: 20px;
  height: 20px;
  background: #333;
  display: inline-block;
  float: right;
  color: #fff;
  margin: 3px 3px 0 0;
}
.modal-search .modal-header .btn-search {
  float: left;
  margin: 0 0 0 5px;
  font: normal normal normal 14px/45px "microsoft yahei";
  color: #fff;
}
.modal-search .content {
  width: 100%;
  font: normal normal normal 14px/32px 'microsoft yahei';
}
.modal-search .content ul li .location {
  width: 32px;
  height: 32px;
  float: left;
  background: transparent url(imgs/icon_marker.png) no-repeat 0 center;
}
.modal-search .content ul li .name {
  float: left;
  font: normal normal normal 14px/32px 'microsoft yahei';
  display: inline-block;
  max-width: 240px;
  word-break: break-all;
  word-wrap: break-word;
  margin-left: 15px;
}
.modal-search .content .pager {
  width: 100%;
  height: 40px;
  background: #fff;
  font: normal normal normal 14px/40px 'microsoft yahei';
  border-bottom: 1px solid #ddd;
}
.modal-search .content .pager .btn {
  text-align: center;
}
.modal-search .content .pager .btn.disabled {
  background: #ddd;
}
.modal-search .content .pager .prev {
  width: 48%;
  border-right: 1px solid #ddd;
  float: left;
}
.modal-search .content .pager .next {
  width: 50%;
  float: right;
}
.dth-service {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  text-align: center;
  color: #333;
  font: normal normal normal 14px/30px 'microsoft yahei';
}
.modal-qcode {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5010;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.modal-qcode .img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
}
.modal-detail .row-img {
  min-height: 90px;
  overflow: hidden;
  padding: 10px 0;
  margin: 0 15px;
}
.modal-detail .row-img .img {
  position: relative;
  width: 90px;
  height: 90px;
  float: left;
  border: 1px solid #eee;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.modal-detail .row-img .img img {
  max-width: 88px;
  max-height: 88px;
  vertical-align: middle;
}
.modal-detail .row-img .img .count {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  font: normal normal normal 12px/18px 'microsoft yahei';
  color: #fff;
  padding: 1px 2px;
}
.modal-detail .row-img .box {
  float: left;
  margin: 15px 0 0 5px;
  display: inline-block;
  max-width: 190px;
}
.modal-detail .row-img .box label {
  width: 100%;
  display: block;
  font: normal normal normal 14px/22px 'microsoft yahei';
  color: #999;
}
.modal-detail .row-img .box span {
  display: block;
  min-height: 22px;
  margin-top: 10px;
  font: normal normal normal 14px/22px 'microsoft yahei';
  color: #000;
}
.modal-detail .row {
  border-top: 1px solid #ddd;
  min-height: 60px;
  overflow: hidden;
  padding: 10px 0;
  margin: 0 15px;
}
.modal-detail .row label {
  width: 100%;
  display: block;
  font: normal normal normal 14px/22px 'microsoft yahei';
  color: #999;
}
.modal-detail .row span {
  display: block;
  margin-top: 10px;
  font: normal normal normal 14px/22px 'microsoft yahei';
  color: #000;
}
@media screen and (min-width: 360px) {
  .modal-search .modal-header .input-search {
    width: calc(100% - 120px);
  }
  .modal-search .content ul li .name {
    max-width: calc(100% - 80px);
  }
  .modal-detail .modal-header span {
    max-width: calc(100% - 120px);
  }
  .modal-detail .row-img .box {
    max-width: calc(100% - 120px);
  }
}
.modal-pictures {
  z-index: 5020;
  background: #333;
}
.modal-pictures .content {
  width: 100%;
  height: 100%;
}
.modal-pictures .content .point-pictures {
  margin: 120px 0 0;
}
.pinch-zoom {
  width: 100%;
  height: 100%;
  text-align: center;
}
.pinch-zoom img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
@font-face {
  font-family: "iconfont";
  src: url('fonts/icon/iconfont.eot');/* IE9*/
  src: url('fonts/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/icon/iconfont.svg#iconfont') format('svg');/* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-font01:before {
  content: "\e600";
}
.icon-font02:before {
  content: "\e601";
}
.icon-font03:before {
  content: "\e602";
}
.icon-font04:before {
  content: "\e603";
}
.icon-font05:before {
  content: "\e604";
}
.icon-font06:before {
  content: "\e605";
}
.icon-font07:before {
  content: "\e606";
}
.icon-font08:before {
  content: "\e607";
}
.icon-font09:before {
  content: "\e608";
}
.icon-font10:before {
  content: "\e609";
}
.icon-font11:before {
  content: "\e60a";
}
.icon-font12:before {
  content: "\e60b";
}
.icon-font13:before {
  content: "\e60c";
}
.icon-font14:before {
  content: "\e60d";
}
.icon-font15:before {
  content: "\e60e";
}
.icon-font16:before {
  content: "\e60f";
}
.icon-font17:before {
  content: "\e610";
}
.icon-font18:before {
  content: "\e611";
}
.icon-font26:before {
  content: "\e612";
}
.icon-font27:before {
  content: "\e613";
}
.icon-font28:before {
  content: "\e614";
}
.icon-font29:before {
  content: "\e615";
}
.icon-font30:before {
  content: "\e616";
}
.icon-font31:before {
  content: "\e617";
}
.icon-font19:before {
  content: "\e618";
}
.icon-font20:before {
  content: "\e619";
}
.icon-font21:before {
  content: "\e61a";
}
.icon-font22:before {
  content: "\e61b";
}
.icon-font23:before {
  content: "\e61c";
}
.icon-font24:before {
  content: "\e61d";
}
.icon-font25:before {
  content: "\e61e";
}
.icon-font35:before {
  content: "\e61f";
}
.icon-font36:before {
  content: "\e620";
}
.icon-font38:before {
  content: "\e621";
}
.icon-font39:before {
  content: "\e622";
}
.icon-font41:before {
  content: "\e623";
}
.icon-font42:before {
  content: "\e624";
}
.icon-font44:before {
  content: "\e625";
}
.icon-font45:before {
  content: "\e626";
}
.icon-font47:before {
  content: "\e627";
}
.icon-font48:before {
  content: "\e628";
}
.icon-font50:before {
  content: "\e629";
}
.icon-font51:before {
  content: "\e62a";
}
.icon-font53:before {
  content: "\e62b";
}
.icon-font54:before {
  content: "\e62c";
}
.icon-font56:before {
  content: "\e62d";
}
.icon-font32:before {
  content: "\e62e";
}
.icon-font33:before {
  content: "\e62f";
}
.icon-font34:before {
  content: "\e630";
}
.icon-font37:before {
  content: "\e631";
}
.icon-font40:before {
  content: "\e632";
}
.icon-font43:before {
  content: "\e633";
}
.icon-font46:before {
  content: "\e634";
}
.icon-font49:before {
  content: "\e635";
}
.icon-font52:before {
  content: "\e636";
}
.icon-font55:before {
  content: "\e637";
}
.icon-57:before {
  content: "\e638";
}
/*# sourceMappingURL=point.css.map */
