.theme-image{background: url(img/banner.png) no-repeat scroll center;height: 300px;}    
    .feedback{width: 1100px;margin: 108px auto 170px auto;}
    label{font-size: 14px;}
    input{margin-bottom: 0px !important;}
    .position-right{position: absolute;top:15px;right: 15px;}
    .dropdown-menu{width: 100%;}