/*reset && base*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, img, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f7f7f7;
    background-color: #f7f7f7;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol, li {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

a {
    color: #333;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    color: #3372A2;
    text-decoration: underline;
}

a:focus {
    outline: none;
}
ul {
    margin: 0;
}