/*reset && base*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, img, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f7f7f7;
    background-color: #f7f7f7;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    min-width: 1200px;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol, li {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

a {
    color: #333;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    color: #3372A2;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

.header {
    width: 100%;
    height: 700px;
    background: url(home-img/banner.jpg) no-repeat center 0;
}
.header .nav {
    width: 1200px;
}
.header .nav .nav-right .items {
    margin-top: 40px;
}
.header .nav .logo img {
    top: 15px;
}
.header .nav .logo span {
    top: 30px;
    color: #fff;
}
.header .nav .logo i{
    background: none repeat scroll 0 0 #fff;
    top: 20px;
}
.header .nav .nav-right .login > a{
    color: #fff;
}

.header .nav .nav-right .login .mse_menu > a {    
    color: #fff;
    font-size: 18px;
}
.header .login .mse_menu .mse_full ul li > a{
    color: #272727;
}
.header .login .mse_menu .mse_full ul li > a:hover{
    color: #272727;
    background-color: #e0e0e0;
}
.header .login .mse_menu .mse_full .icaret{
    background: #272727 url(home-img/caret.png) no-repeat scroll 0 0; 
}
.header .nav .nav-right .login i {
    background: none repeat scroll 0 0 #fff;
}
.header .nav .nav-right .login span.caret {
    color: #fff;
}
.header .nav .nav-right .items > a.normal{
    color: #fff;
    border-bottom: 2px solid #272727;
}
.header .nav .nav-right .items > a.normal:hover{
    border-bottom: 2px solid #fff;
}


.header .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header .content .left{
    background: url(home-img/banner-text.png) no-repeat 0 70px;
    width: 300px;
    height: 580px;
    float: left;
    padding-top: 380px;
}
.header .content .left button {
    width: 136px;
    font-size: 20px;
    font-family: 'microsoft yahei';
    margin-right: 4px;
}
.header .content .left button.trial {

}
.header .content .left button.watch, 
.header .content .left .btn-watch
 {
    width: 136px;
    font-size: 20px;
    font-family: 'microsoft yahei';
    /*border: 1px solid #777;*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*color: #fff;*/
    margin-left: 4px;
}
.header .content .left .btn-watch {
	width: 283px;
	margin-left: 0;
}
.header .content .left button.watch:hover,
.header .content .left .btn-watch:hover {
    /*background-color: rgba(255, 255, 255, 0.1);*/
}
.header .content .right {
    float: left;
    margin-left: 80px;
    position: relative;
    min-height: 580px;
}
.header .content .wangdian{
    height: 590px;
}
.header .content .wangdian .branch {
    position: absolute;
}
.header .content .wangdian .poi-1{
    left: 200px;
    top: 50px;
}
.header .balloon, .header .text, .header .circle {
    display: none;
}


@-webkit-keyframes rotateInUpLeft {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        opacity: 0;
    }
    
    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateInUpLeft {
    0% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(90deg);
        opacity: 0;
    }
    
    100% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-ms-keyframes rotateInUpLeft {
    0% {
        -ms-transform-origin: left bottom;
        -ms-transform: rotate(90deg);
        opacity: 0;
    }
    
    100% {
        -ms-transform-origin: left bottom;
        -ms-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateInUpLeft {
    0% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(90deg);
        opacity: 0;
    }
    
    100% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 0;
    }
    
    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateInUpLeft {
    -webkit-animation-name: rotateInUpLeft;
    -moz-animation-name: rotateInUpLeft;
    -ms-animation-name: rotateInUpLeft;
    -o-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft;
}
.header .content .wangdian .poi-1 .balloon {
    background: url(home-img/poi-1.png) no-repeat 0 0;
    position: absolute;
    top: 0;  left: 22px;
    width: 237px; height: 237px;    
    animation: rotateInUpLeft 2s ease 0s 1 normal;
    -moz-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -webkit-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -o-animation: rotateInUpLeft 2s ease 0s 1 normal;
}
.header .content .wangdian .poi-1 .circle {
    background: url(home-img/circle.png) no-repeat 0 0;
    position: absolute;
    top: 235px;
    left: 0;
    width: 32px;
    height: 32px;
}
.header .content .wangdian .poi-1 .text {
    background: url(home-img/text-1.png) no-repeat 0 0;
    position: absolute;
    top: 237px;
    left: 16px;
    width: 117px;
    height: 28px;
}
.header .content .wangdian .poi-2{
    left: 500px; top: 70px;
}

.header .content .wangdian .poi-2 .balloon {
    background: url(home-img/poi-2.png) no-repeat 0 0;
    position: absolute;
    top: 0; left: 22px;
    width: 100px; height: 100px; 
    animation: rotateInUpLeft 2s ease 0s 1 normal;
    -moz-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -webkit-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -o-animation: rotateInUpLeft 2s ease 0s 1 normal;
}
.header .content .wangdian .poi-2 .circle {
    background: url(home-img/circle.png) no-repeat 0 0;
    position: absolute;
    top: 100px; left: 0;
    width: 32px;  height: 32px;
}
.header .content .wangdian .poi-2 .text {
    background: url(home-img/text-2.png) no-repeat 0 0;
    position: absolute;
    top: 100px; left: 16px;
    width: 127px; height: 28px;
}
.header .content .wangdian .poi-3{
    left: 620px; top: 300px;
}


.header .content .wangdian .poi-3 .balloon {
    background: url(home-img/poi-3.png) no-repeat 0 0;
    position: absolute;
    top: 0; left: 22px;
    width: 93px; height: 93px;
    animation: rotateInUpLeft 2s ease 0s 1 normal;
    -moz-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -webkit-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -o-animation: rotateInUpLeft 2s ease 0s 1 normal;
}
.header .content .wangdian .poi-3 .circle {
    background: url(home-img/circle.png) no-repeat 0 0;
    position: absolute;
    top: 93px; left: 0;
    width: 32px;  height: 32px;
}
.header .content .wangdian .poi-3 .text {
    background: url(home-img/text-3.png) no-repeat 0 0;
    position: absolute;
    top: 93px; left: 16px;
    width: 124px; height: 28px;
}
.header .content .wangdian .poi-4{
    left: 300px; top: 350px;
}

.header .content .wangdian .poi-4 .balloon {
    background: url(home-img/poi-4.png) no-repeat 0 0;
    position: absolute;
    top: 0; left: 22px;
    width: 125px; height: 125px;
    animation: rotateInUpLeft 2s ease 0s 1 normal;
    -moz-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -webkit-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -o-animation: rotateInUpLeft 2s ease 0s 1 normal;
}
.header .content .wangdian .poi-4 .circle {
    background: url(home-img/circle.png) no-repeat 0 0;
    position: absolute;
    top: 125px; left: 0;
    width: 32px;  height: 32px;
}
.header .content .wangdian .poi-4 .text {
    background: url(home-img/text-4.png) no-repeat 0 0;
    position: absolute;
    top: 125px; left: 16px;
    width: 124px; height: 28px;
}
.header .content .wangdian .poi-5{
    left: 80px; top: 435px;
}

.header .content .wangdian .poi-5 .balloon {
    background: url(home-img/poi-5.png) no-repeat 0 0;
    position: absolute;
    top: 0; left: 22px;
    width: 43px; height: 43px;
    animation: rotateInUpLeft 2s ease 0s 1 normal;
    -moz-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -webkit-animation: rotateInUpLeft 2s ease 0s 1 normal;
    -o-animation: rotateInUpLeft 2s ease 0s 1 normal;
}
.header .content .wangdian .poi-5 .circle {
    background: url(home-img/circle.png) no-repeat 0 0;
    position: absolute;
    top: 43px; left: 0;
    width: 32px;  height: 32px;
}
.header .content .wangdian .poi-5 .text {
    background: url(home-img/text-5.png) no-repeat 0 0;
    position: absolute;
    top: 43px; left: 16px;
    width: 124px; height: 28px;
}


@keyframes wangdian {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes wangdian {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes wangdian {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes wangdian {
    from {opacity: 0;}
    to {opacity: 1;}
}
.header .content .wangdian .branch .circle{
    animation: wangdian 2s ease 0s infinite normal;
    -moz-animation: wangdian 2s ease 0s infinite normal;
    -webkit-animation: wangdian 2s ease 0s infinite normal;
    -o-animation: wangdian 2s ease 0s infinite normal;
}

.header .content .quhua {
    display: none;
}

.header .content .region {
    position: absolute;
}
.header .content .quhua .region-1 {
    top: 0;
    left: 60px;
    background: url(home-img/region-1.png) no-repeat 0 0;
    width: 253px; height: 381px;
}
.header .content .quhua .region-2 {
    top: 126px;
    left: 265px;
    background: url(home-img/region-2.png) no-repeat 0 0;
    width: 326px; height: 239px;
}
.header .content .quhua .region-3 {
    top: 369px;
    left: 127px;
    background: url(home-img/region-3.png) no-repeat 0 0;
    width: 279px; height: 221px;
}
.header .content .quhua .region-4 {
    top: 271px;
    left: 299px;
    background: url(home-img/region-4.png) no-repeat 0 0;
    width: 390px; height: 243px;
}

@keyframes quhua-1 {
    from {top: 0; left: 0;}
    to {top: 0; left: 60px;}
}
@-moz-keyframes quhua-1 {
    from {top: 0; left: 0;}
    to {top: 0; left: 60px;}
}
@-webkit-keyframes quhua-1 {
    from {top: 0; left: 0;}
    to {top: 0; left: 60px;}
}
@-o-keyframes quhua-1 {
    from {top: 0; left: 0;}
    to {top: 0; left: 60px;}
}
.header .content .quhua .region-1 {
    animation: quhua-1 1s linear 0s 1 normal;
    -moz-animation: quhua-1 1s linear 0s 1 normal;
    -webkit-animation: quhua-1 1s linear 0s 1 normal;
    -o-animation: quhua-1 1s linear 0s 1 normal;
}


@keyframes quhua-2 {
    from {top: 0; left: 500px;}
    to {top: 126px; left: 265px;}
}
@-moz-keyframes quhua-2 {
    from {top: 0; left: 500px;}
    to {top: 126px; left: 265px;}
}
@-webkit-keyframes quhua-2 {
    from {top: 0; left: 500px;}
    to {top: 126px; left: 265px;}
}
@-o-keyframes quhua-2 {
    from {top: 0; left: 500px;}
    to {top: 126px; left: 265px;}
}
.header .content .quhua .region-2 {
    animation: quhua-2 1s linear 0s 1 normal;
    -moz-animation: quhua-2 1s linear 0s 1 normal;
    -webkit-animation: quhua-2 1s linear 0s 1 normal;
    -o-animation: quhua-2 1s linear 0s 1 normal;
}
@keyframes quhua-3 {
    from {top: 380px; left: 0px;}
    to {top: 369px; left: 127px;}
}
@-moz-keyframes quhua-3 {
    from {top: 380px; left: 0px;}
    to {top: 369px; left: 127px;}
}
@-webkit-keyframes quhua-3 {
    from {top: 380px; left: 0px;}
    to {top: 369px; left: 127px;}
}
@-o-keyframes quhua-3 {
    from {top: 380px; left: 0px;}
    to {top: 369px; left: 127px;}
}
.header .content .quhua .region-3 {
    animation: quhua-3 1s linear 0s 1 normal;
    -moz-animation: quhua-3 1s linear 0s 1 normal;
    -webkit-animation: quhua-3 1s linear 0s 1 normal;
    -o-animation: quhua-3 1s linear 0s 1 normal;
}
@keyframes quhua-4 {
    from {top: 380px; left: 500px;}
    to {top: 271px; left: 299px;}
}
@-moz-keyframes quhua-4 {
    from {top: 380px; left: 500px;}
    to {top: 271px; left: 299px;}
}
@-webkit-keyframes quhua-4 {
    from {top: 380px; left: 500px;}
    to {top: 271px; left: 299px;}
}
@-o-keyframes quhua-4 {
    from {top: 380px; left: 500px;}
    to {top: 271px; left: 299px;}
}
.header .content .quhua .region-4 {
    animation: quhua-4 1s linear 0s 1 normal;
    -moz-animation: quhua-4 1s linear 0s 1 normal;
    -webkit-animation: quhua-4 1s linear 0s 1 normal;
    -o-animation: quhua-4 1s linear 0s 1 normal;
}


.header .content .road {
    display: none;
    position: relative;
}

@keyframes route {
    0%   {width: 2px;}
    100% {width: 729px;}
}
@-moz-keyframes route {
    0%   {width: 2px;}
    100% {width: 729px;}
}
@-webkit-keyframes route {
    0%   {width: 2px;}
    100% {width: 729px;}
}
@-o-keyframes route {
    0%   {width: 2px;}
    100% {width: 729px;}
}
.header .content .road .route {    
    top: 50px; left: 12px;
    background: url(home-img/route.png) no-repeat 0 0;
    width: 729px; height: 472px;
    position: absolute;
    animation: route 2s linear 0s 1 normal;
    -moz-animation: route 2s linear 0s 1 normal;
    -webkit-animation: route 2s linear 0s 1 normal;
    -o-animation: route 2s linear 0s 1 normal;
}
.header .content .road .branch {
    position: absolute;    
    display: none;
}
.header .content .road .poi-1 {
    top: 458px; left: 0px;
    background: url(home-img/p1.png) no-repeat 0 0;
    width: 31px; height: 62px;
}
.header .content .road .poi-2 {
    top: 388px; left: 195px;
    background: url(home-img/p2.png) no-repeat 0 0;
    width: 13px; height: 25px;
}
.header .content .road .poi-3 {
    top: 305px; left: 341px;
    background: url(home-img/p3.png) no-repeat 0 0;
    width: 52px; height: 53px;
    opacity: 0;
}
.header .content .road .poi-3-1 {
    top: 325px; left: 360px;
    background: url(home-img/p3-1.png) no-repeat 0 0;
    width: 14px; height: 14px;
    opacity: 0;
}
.header .content .road .poi-3-2 {
    top: 318px; left: 353px;
    background: url(home-img/p3-2.png) no-repeat 0 0;
    width: 28px; height: 28px;
    opacity: 0;
}
.header .content .road .poi-4 {
    top: 200px; left: 415px;
    background: url(home-img/p4.png) no-repeat 0 0;
    width: 17px; height: 33px;
}
.header .content .road .poi-5 {
    top: 175px; left: 530px;
    background: url(home-img/p5.png) no-repeat 0 0;
    width: 18px; height: 35px;
}
.header .content .road .poi-6 {
    top: 80px; left: 610px;
    background: url(home-img/p6.png) no-repeat 0 0;
    width: 23px; height: 47px;
}
.header .content .road .poi-7 {
    top: 0px; left: 722px;
    background: url(home-img/p1.png) no-repeat 0 0;
    width: 31px; height: 62px;
}
.header .content .road .shining {
    position: absolute;    
    display: none;
}

@keyframes route-poi {
    0% {opacity: 0.5}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes route-poi {
    0% {opacity: 0.5}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes route-poi {
    0% {opacity: 0.5}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@-o-keyframes route-poi {
    0% {opacity: 0.5}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.header .content .road .poi-3-1{
    animation: route-poi 4.5s ease 0s infinite normal;
    -moz-animation: route-poi 4.5s ease 0s infinite normal;
    -webkit-animation: route-poi 4.5s ease 0s infinite normal;
    -o-animation: route-poi 4.5s ease 0s infinite normal;
}
.header .content .road .poi-3-2{
    animation: route-poi 4.5s ease 1.5s infinite normal;
    -moz-animation: route-poi 4.5s ease 1.5s infinite normal;
    -webkit-animation: route-poi 4.5s ease 1.5s infinite normal;
    -o-animation: route-poi 4.5s ease 1.5s infinite normal;
}
.header .content .road .poi-3{
    animation: route-poi 4.5s ease 3s infinite normal;
    -moz-animation: route-poi 4.5s ease 3s infinite normal;
    -webkit-animation: route-poi 4.5s ease 3s infinite normal;
    -o-animation: route-poi 4.5s ease 3s infinite normal;
}


.header .content .word {
    display: none;
    position: relative;
}
.header .content .word .note {
    position: absolute;
}
.header .content .word .word-1{
    left: 30px; top: 70px; width: 142px; height: 23px;
    background: url(home-img/text-path.png) no-repeat 0 0;
}
.header .content .word .word-2{
    left: 225px; top: 80px; width: 296px; height: 1px;
    background-color: #ddd;
}
.header .content .word .word-3{
    left: 30px; top: 130px; width: 142px; height: 23px;
    background: url(home-img/text-car.png) no-repeat 0 0;
}
.header .content .word .word-4 {
    left: 225px; top: 140px; width: 81px; height: 157px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.header .content .word .word-5 {
    left: 305px; top: 365px; width: 92px; height: 39px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.header .content .word .word-6{
    left: 460px; top: 390px; width: 141px; height: 23px;
    background: url(home-img/text-renyuan.png) no-repeat 0 0;
}
.header .content .word .word-7{
    left: 105px; top: 480px; width: 296px; height: 1px;
    background-color: #ddd;
}
.header .content .word .word-8{
    left: 460px; top: 470px; width: 174px; height: 24px;
    background: url(home-img/text-geocode.png) no-repeat 0 0;
}



/*各个模块介绍部分*/
.intro {
    width: 1020px;
    margin: 0 auto;
    height: 620px;
}
.intro .item {
    float: left;
    width: 340px;
    min-height: 310px;
    position: relative;
}
.intro .item .ishow {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.intro .item .ishow .img {
    width: 100%;
    height: 160px;  
    line-height: 220px;
    text-align: center;
}
.intro .item .ishow .txt {
    font-size: 20px;
    color: #3e3e3e;
    width: 100%;
    text-align: center;
    line-height: 140px;
    font-family: 'microsoft yahei';
    font-weight: bold;
}
.ifade {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    color: white;
}


.intro .item:hover .ifade {
    opacity: 0.6;
    filter: Alpha(opacity=100);
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 300ms;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 300ms;
    -o-transition: opacity;
    -o-transition-timing-function: ease-out;
    -o-transition-duration: 300ms;
    transition: opacity;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
}

.intro .item .ifade .title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'microsoft yahei';
    width: 100%;
    text-align: center;
    margin: 86px 0 60px 0;
}
.intro .item .ifade p {
    margin: 0 46px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'microsoft yahei';
    text-indent: 34px;
}



/*用户评价部分*/
.comments {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #f5f5f5;
}
.comments .wrapper {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
.comments .wrapper .left {
    float: left;
    width: 300px;
}
.comments .wrapper .left .line1 {
    font-family: 'microsoft yahei';
    font-size: 30px;
    color: #252525;
}
.comments .wrapper .left .line2 {
    font-family: 'microsoft yahei';
    font-size: 60px;
    color: #252525;
}
.comments .wrapper .left img {
    width: 220px; height: 220px;
}
.comments .wrapper .right {
    float: right;
}
.comments .wrapper .crow {
    position: relative;
    min-width: 610px;
    min-height: 150px;    
}
.comments .wrapper .crow .txt{
    width: 420px;
    height: 150px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'microsoft yahei';
    color: #252525;
    padding: 16px 16px 0 22px;
    float: left;
}
.comments .wrapper .green .txt{
    background-color: #A6E167;
}
.comments .wrapper .blue .txt{
    background-color: #9AE0FF;
}
.comments .wrapper .crow .triangle-right{
    float: left;
    margin-top: 20px;
}
.comments .wrapper .crow .triangle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed solid dashed dashed;
}
.comments .wrapper .green .triangle {
    border-color: transparent transparent transparent #A6E167;    
}
.comments .wrapper .blue .triangle {
    border-color: transparent transparent transparent #9AE0FF;    
}

.comments .wrapper .crow .logo {
    float: left;
    margin-left: 30px;
}
.comments .wrapper .crow .logo p {
    margin: 16px 0 0 14px;
    color: #252525;
    font-size: 18px;
    font-family: 'microsoft yahei';
}

.contact {
    width: 1000px;
    margin: 0 auto;
    height: 250px;
}
.contact p{
    margin: 80px 0 60px 0;
    font-size: 20px;
    font-family: 'microsoft yahei';
    color: #252525;
    font-weight: bold;
}
.contact .icol {
    width: 380px;
    float: left;
    border-bottom: 1px solid #00bcd4;
}
.contact .text-input {
    border: none;
    width: 260px;
    font-size: 18px;
    font-family: 'microsoft yahei';
    margin: 5px 0 10px 0;
    padding-left: 0;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    outline: 0;
    margin-left: 30px;
}
.contact .labelfor {
    font-size: 18px;
    font-family: 'microsoft yahei';
    color: #252525;
    line-height: 20px;
}
#btn_saveInfo {
    float: left;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'microsoft yahei';
    padding: 10px 30px;
}



.video-pop-header {
    width: 100%;
    height: 56px;
    background: #39a2f5 url(/apps/images/video/title.png) no-repeat 22px center;
    padding-right: 16px;
    padding-left: 64px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.video-pop-header .title{
    color: #fff;
    font-size: 18px;
    line-height: 56px;
    font-family: 'microsoft yahei';
}

.video-pop-header button.close{
    line-height: 56px;
    font-size: 26px;
}

.movie-list {
    width: auto;
    display: inline-block;
    height: 450px;
    float: left;
    padding-top: 32px;
    border-left: 1px solid #eee;
}

.movie-list li.item, .movie-list li.selected{
    width: 100%;
    line-height: 48px;
    height: 48px;
    padding-left: 50px;
    border-top: 1px solid #ddd;
}

.movie-list li.item a {
    font-family: 'microsoft yahei';
    font-size: 15px;
    color: #202020;
}
.movie-list li.item a:hover {
    text-decoration: none;
}

.movie-list li.item:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.movie-list li.item:active {
    background-color: #b3b3b3;
}

.movie-list li.selected {
    background-color: #ccc;
}

.movie-list li.selected a {
    cursor: default;
    color: #202020;
    font-family: 'microsoft yahei';
    font-size: 15px;
}

.movie-list li.selected a:hover {
    color: #202020;
    cursor: default;
    text-decoration: none;
}



.movie-list li.wangdian {
    background-image: url(/apps/images/nav/wangdiantong.png);
    background-position: 16px center;
    background-repeat: no-repeat;
}
.movie-list li.zhixingtong {
    background-image: url(/apps/images/nav/cheliang.png);
    background-position: 16px center;
    background-repeat: no-repeat;
}
.movie-list li.quhua {
    background-image: url(/apps/images/nav/quhuabao.png);
    background-position: 16px center;
    background-repeat: no-repeat;
}
.movie-list li.fendan {
    background-image: url(/apps/images/nav/fendanbao.png);
    background-position: 16px center;
    background-repeat: no-repeat;
}
.movie-list li.pathplan {
    background-image: url(/apps/images/nav/pathplan.png);
    background-position: 16px center;
    background-repeat: no-repeat;
}
.movie-list li.xundian {
    background-image: url(/apps/images/nav/xundianbao.png);
    background-position: 16px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ddd;
}


.movie-list li.selected a {
    cursor: default;
    color: #202020;
    font-family: 'microsoft yahei';
    font-size: 15px;
}

.movie-list li.selected a:hover {
    color: #202020;
    cursor: default;
    text-decoration: none;
}


.popover-content {
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #fff;
}
#popover_result {
    top: 80%; 
    left: 45%;
    position: fixed; 
    width: auto; 
    z-index: 9999999; 
    display: none; 
    background-color: #666; 
    /*max-width: auto;*/
    text-align: center;
}


ul.oe_menu_nav{
    list-style:none;
    position:relative;
    margin:0;
    min-width:90px;    
    /*height:35px;*/
    clear:both;
    display: inline-block;
    margin-left: 10px;
}

ul.oe_menu_nav > li{
    width:100%;
    height:100%;
    padding: 0;
    float:left;
    position:relative;
    margin: 0;
}

ul.oe_menu_nav > li > a{
    font-family: 'microsoft yahei';
    width: 100%;
    height: 100%;
    /*line-height: 26px;*/
    padding: 0 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

ul.oe_menu_nav > li > a:hover,
ul.oe_menu_nav > li.selected > a{
    color: #fff;
    background-color: #5bc0de;
    border-color: #357ebd;
    text-decoration: none;
}
.oe_wrapper ul.hovered > li > a{
    background:#fff;
    text-shadow:0px 0px 1px #FFF;
}
ul.oe_menu_nav div{
    position:absolute;
    background:#fff;
    width:100%;
    display: none;
    z-index: 334;
}
ul.oe_menu_nav div ul li {
    width: 100%;
    padding: 10px 0 5px 0;
    background-color: #5bc0de;
    text-align: center;
}
ul.oe_menu_nav div ul li a{
    text-decoration: none;
    color: #fcf5db;
    font-size: 15px;
    font-family: 'microsoft yahei';
}
ul.oe_menu_nav div ul.oe_full{
    width:100%;
}
ul.oe_menu_nav div ul li a:hover{
    color: #fff;
}

ul.oe_menu div ul li.oe-first {
    padding: 20px 20px 10px 20px;
    text-align: left;
    border-right: 1px solid #f1f1f1;
}
ul.oe_menu div ul li.oe-first > a{
    text-decoration: none;
    color: #6699CC;
    font-size: 15px;
    font-family: 'microsoft yahei';
}
ul.oe_menu div ul li.oe-first > a:hover{
    color: #036CA5;
}
ul.oe-second {
    clear: both;
    min-height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
ul.oe-second li{
    float: left;
    padding: 10px 10px 0 20px;
}
ul.oe-second li a.enable{
    color: #333;
    font-size: 12px;
    font-family: 'microsoft yahei';
}

ul.oe-second li a.disable{
    color: #333;
    font-size: 12px;
    font-family: 'microsoft yahei'; 
}

/*.header .nav .nav-right .items {
	margin-top: 11px;
}

.header .nav .nav-right .notice {
	margin-top: 10px;
	height: 20px;
}*/

.map-notice {
	width: 100%;
	height: 30px;
	background-color: #FFD1C6;
}
.map-notice .nav {
	width: 1200px;
	margin: 0 auto;
}
.map-notice .nav img {
	float: right;
	margin-top: 2px;
}
.tomapupgrade {
	float: right;
	color: #ff0000;
	font: normal normal 14px/30px 'microsoft yahei';	
}
.tomapupgrade:hover {
	color: #ff0000;
	text-decoration: underline;
}















