.console-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1001;
  background-color: #1462de;
}
.console-header aside.header-logo a {
  text-decoration: none;
  color: #fff;
  margin-left: 25px;
}
.console-header aside.header-logo a img {
  vertical-align: middle;
}
.console-header aside.header-logo span {
  margin-left: 50px;
  color: #fff;
}
.console-header aside.header-right a.console-question {
  text-decoration: none;
  border-right: 1px solid #f5f5f5;
  padding-right: 15px;
  margin-right: 100px;
}
.console-header aside.header-right a.console-question span {
  color: #fff;
  font-size: 14px;
}
.console-header aside.header-right a.console-person {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  box-sizing: border-box;
}
.console-header aside.header-right a.console-person:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  position: absolute;
  top: 30px;
  right: 20px;
}
.console-header aside.header-right a.console-person img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px 0 -30px;
  border: 1px solid #77B3D4;
}
.console-header aside.header-right a.console-person:hover:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: 23px;
  margin-left: 5px;
}
.console-header aside.header-right dl {
  display: none;
}
.console-header aside.header-right:hover dl {
  display: block;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 180px;
  background-color: #fff;
  color: #fff;
  border: 1px ridge #759DDE;
  font-size: 14px;
}
.console-header aside.header-right:hover dl dd {
  line-height: 40px;
  padding-left: 30px;
}
.console-header aside.header-right:hover dl dd img {
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 15px;
}
.console-header aside.header-right:hover dl dd a {
  display: inline-block;
  font-size: 14px;
}
.console-header aside.header-right:hover dl dd:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.console-header aside.header-right:hover dl dd:hover a {
  text-decoration: underline;
  color: red;
}
.console-header aside.header-right:hover dl dd a {
  text-decoration: none;
}
.console-header aside.header-right:hover dl:before {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 25px;
}
