@charset "UTF-8";
html,
body {
  height: 100%;
}
.blue {
  color: #0088cc;
}
.shade {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #7F7F7F;
  opacity: 0.5;
  z-index: 10000;
}
#getKey img {
  max-width: 910px;
}
/* @keyframes fadeSlow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeSlow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeSlow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeSlow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeSlow {
  animation-name: fadeSlow;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-delay: 0s;
} */
main {
  min-height: 100%;
  padding-top: 60px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
main aside {
  max-width: 1130px;
  margin: 0 auto;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
}
main section {
  line-height: 110px;
  text-align: center;
  background: url(../img/bg_developmentDocument.png) no-repeat;
  background-size: cover;
  color: #E8EBF3;
}
main section h1 {
  font-size: 40px;
}
main div.content-wrap {
  padding-bottom: 41px;
}
main .active {
  color: #0088cc !important;
}
main div.content {
  display: flex;
  max-width: 1130px;
  margin: -10px auto 50px auto;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}
main div.content div.left-menu {
  flex: 1.5;
  overflow: hidden;
  background-color: #EFF4F8;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
}
main div.content div.left-menu ul.item {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  /*.dropdown .icon-arrow:before {
          content: '\25BC';
        }*/
}
main div.content div.left-menu ul.item .dropdown a {
  text-decoration: none;
  font-size: 16px;
}
main div.content div.left-menu ul.item .product {
  line-height: 28px;
}
main div.content div.left-menu ul.item .product a {
  text-decoration: none;
  font-size: 16px;
  color: #656363;
  padding-left: 20px;
}
main div.content div.left-menu ul.item .dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: #55585A;
  background: #EFF4F8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 40px 10px 20px;
  transition: all 0.15s linear;
}
main div.content div.left-menu ul.item .dropdown [data-toggle="dropdown"]:hover {
  background: #7FBDEF;
}
main div.content div.left-menu ul.item .dropdown .icon-arrow {
  font-style: normal;
  font-weight: bold;
  position: absolute;
  display: block;
  /* font-size: 10px; */
  top: 18px;
  right: 15px;
  /* transform: rotate(90deg); */
  width: 9px;
  height: 5px;
}
main div.content div.left-menu ul.item .dropdown .icon-arrow.open {
  /* transform: rotate(-90deg); 
          transition: transform 0.6s;*/
  background: url(../img/up.png) no-repeat;
}
main div.content div.left-menu ul.item .dropdown .icon-arrow.close {
  /* transform: rotate(90deg);
          transition: transform 0.6s; */
  background: url(../img/down.png) no-repeat;
}
main div.content div.left-menu ul.item .dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
main div.content div.left-menu ul.item .dropdown .dropdown-menu li {
  padding: 0;
}
main div.content div.left-menu ul.item .dropdown .dropdown-menu li a {
  display: block;
  color: #6e6e6e;
  background: #EFF4F8;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #e8e8e8 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  transition: all 0.15s linear;
}
main div.content div.left-menu ul.item .dropdown .dropdown-menu li a:hover {
  background: #DEECF7;
  border-left: 4px solid #7FBDEF;
}
main div.content div.left-menu ul.item .dropdown .show,
main div.content div.left-menu ul.item .dropdown .hide {
  transform-origin: 50% 0%;
}
main div.content div.left-menu ul.item .dropdown .show {
  display: block;
  max-height: 9999px;
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  transition: max-height 1s ease-in-out;
}
main div.content div.left-menu ul.item .dropdown .hide {
  max-height: 0;
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  transition: max-height 0.6s ease-out;
}
@keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(0);
  }
}
main div.content div.right-con {
  flex: 5;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
}
main div.content div.right-con .document-page {
  display: none;
}
main div.content div.right-con textarea {
  color: #767676;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 6px 8px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #d9dbdb;
}
main div.content div.right-con h4 {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #EBEBEB;
  color: #a5a5a5;
}
main div.content div.right-con div.right-content {
  padding: 0 15px;
  position: relative;
  /* table{
          border:1px solid #E6E6E6;
          cellspacing:0;
          cellpadding:0;
          th,td{
            padding: 10px 0;
            text-align: justify;
            line-height: 30px;
            font-size: 14px;
            color: #767676;
          }
        } */
}
main div.content div.right-con div.right-content .userFeed {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 14px;
  padding-left: 40px;
  background: url(../img/feedback_icon.png) no-repeat;
  background-size: 30% 115%;
  cursor: pointer;
}
main div.content div.right-con div.right-content .modal-dialog1 {
  display: none;
  position: absolute;
  width: 447px;
  margin: 80px auto;
  z-index: 1000000;
  background: #FFF;
  left: 25%;
  top: 0;
  border: 1px solid gray;
  border-radius: 6px;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content {
  width: 447px;
  height: 310px;
  box-shadow: none;
  position: relative;
  outline: none;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body {
  position: relative;
  padding: 15px;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body h4 {
  margin-bottom: 40px;
  padding-left: 20px;
  font-weight: lighter;
  color: #666;
  font-size: 18px;
  border-bottom: none;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item {
  display: inline-block;
  vertical-align: top;
  width: 192px;
  cursor: pointer;
  text-align: center;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item .item-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item:hover .document {
  background: url(../img/document-active.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item:hover .pro {
  background: url(../img/product-active.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item .document {
  background-image: url(../img/document.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item .pro {
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item .item-name {
  margin-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-body .feedback-item .item-type {
  margin-top: 8px;
  color: #0e81e5;
  font-size: 12px;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-footer {
  border-top: 0;
  margin: 0 15px 0 0;
  padding: 0;
  text-align: right;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-footer .feedback-faq {
  font-size: 12px;
  text-align: center;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-footer .feedback-faq a {
  color: #337ab7;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-footer button {
  outline: 0;
  color: #0e81e5;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  background-color: transparent;
}
main div.content div.right-con div.right-content .modal-dialog1 .modal-content .modal-footer button:hover {
  background-color: #e6e6e6;
}
main div.content div.right-con div.right-content .modal-dialog2 {
  display: none;
  width: 657px;
  height: 450px;
  margin: 80px auto;
  position: absolute;
  border-radius: 0 6px 6px 6px;
  box-shadow: 2px 2px 10px 2px gray;
  border: 1px solid gray;
  background: #fff;
  z-index: 100000;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding: 21px 18px 0 88px;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-header .modal-header-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 64px;
  background-color: #358de6;
  background-image: url(../img/raty-modal-icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-header .close {
  float: right;
  font-size: 24px;
  opacity: .5;
  cursor: pointer;
  margin-top: -5px;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-header .close:hover {
  opacity: 1;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-header h4 {
  height: 42px;
  padding-left: 8px;
  color: #666;
  font-weight: 400;
  font-size: 18px;
  border-bottom: none;
  line-height: 25px;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-body p {
  background-color: #feeb9a;
  font-size: 12px;
  color: #333;
  padding: 10px 24px;
  line-height: 1.5;
  margin: 0;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-body div.below-alert {
  padding: 26px;
  position: relative;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-body div.below-alert textarea {
  resize: none;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 12px;
  width: 100%;
  height: 210px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer {
  text-align: right;
  padding-right: 38px;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer button {
  width: 139px;
  height: 40px;
  border-radius: 2px;
  background-color: #fcfcfc;
  border: 1px solid #358de6;
  font-size: 14px;
  color: #358de6;
  cursor: pointer;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer button.cancel {
  background: #FCFCFC;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer button.cancel:hover {
  background: #E1F3F7;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer button.submit {
  background: #0E81E5;
  color: #fff;
}
main div.content div.right-con div.right-content .modal-dialog2 .modal-footer button.submit:hover {
  background: #4CB8FB;
}
main div.content div.right-con div.right-content .rate-container {
  position: absolute;
  right: 15px;
  top: 50px;
  line-height: 24px;
  margin-top: 35px;
}
main div.content div.right-con div.right-content .rate-container .list img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
main div.content div.right-con div.right-content span.remark {
  font-size: 12px;
}
main div.content div.right-con div.right-content .title {
  font-size: 28px;
  color: #292929;
  padding: 20px 0 10px;
}
main div.content div.right-con div.right-content .update-time {
  color: #a5a5a5;
  font-size: 12px;
  padding-bottom: 10px;
}
main div.content div.right-con div.right-content .container .mgl-menu ul {
  display: flex;
  justify-content: space-between;
}
main div.content div.right-con div.right-content .container .mgl-menu ul li {
  font-size: 14px;
  cursor: pointer;
}
main div.content div.right-con div.right-content .container .mgl-menu ul li.current span {
  color: #3B7DBE;
  line-height: 45px;
}
main div.content div.right-con div.right-content .container .mgl-menu ul li span {
  color: #292929;
  display: block;
  line-height: 40px;
  text-shadow: 1px 1px 2px #999;
}
main div.content div.right-con div.right-content .container .mgl-content ul {
  width: 100%;
}
main div.content div.right-con div.right-content .control {
  background-color: #fff;
  padding: 0 10px;
  border: 1px solid silver;
  box-shadow: 3px 4px 3px 0px silver;
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 5px;
  border-radius: 3px;
  line-height: 36px;
  z-index: 1500;
}
main div.content div.right-con div.right-content .Demo {
  position: relative;
}
main div.content div.right-con div.right-content .try {
  font-size: 14px;
  text-decoration: none;
  color: #009CF9;
}
main div.content div.right-con div.right-content .feature {
  display: flex;
  padding-top: 25px;
}
main div.content div.right-con div.right-content .feature .pro-feature {
  flex: 1;
  margin: 0 15px;
  text-align: center;
}
main div.content div.right-con div.right-content .feature .pro-feature span {
  margin-top: 15px;
}
main div.content div.right-con div.right-content .feature .pro-feature p {
  line-height: 20px;
  font-size: 13px;
}
main div.content div.right-con div.right-content p.mgl-p {
  line-height: 15px;
}
main div.content div.right-con div.right-content .demoDoc {
  display: flex;
  height: 400px;
}
main div.content div.right-con div.right-content .demoDoc .textr {
  border: 1px solid gray;
  border-right: none;
  width: 450px;
  background: #fff;
}
main div.content div.right-con div.right-content .demoDoc .textr .xmp {
  font-size: 12px;
  width: 100%;
}
main div.content div.right-con div.right-content .demoDoc .ditu {
  flex: 2;
  position: relative;
}
main div.content div.right-con div.right-content h3,
main div.content div.right-con div.right-content h5 {
  font-size: 20px;
  padding: 20px 0 10px;
  font-weight: 500;
  color: #000;
}
main div.content div.right-con div.right-content h3 {
  border-bottom: 1px solid #e7e7e7;
}
main div.content div.right-con div.right-content p {
  padding: 10px 0;
  text-align: justify;
  line-height: 30px;
  font-size: 14px;
  color: #767676;
}
main div.content div.right-con div.right-content p a {
  color: #0088cc;
}
main div.content div.right-con div.right-content .pic-box {
  padding: 10px 0px;
  overflow: hidden;
}
main div.content div.right-con div.right-content .pic-box .item {
  float: left;
  width: 31%;
  padding: 10px 15px 10px 0;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
}
main div.content div.right-con div.right-content .pic-box .item img {
  width: 100%;
  height: 100px;
}
main div.content div.right-con div.right-content .pic-box .item dl dt {
  text-align: center;
  font-size: 16px;
}
main div.content div.right-con div.right-content .pic-box .item dl dd {
  margin-top: 5px;
  font-size: 14px;
  text-align: left;
}
main div.content div.right-con div.right-content .pic-box .item dl dd a {
  color: #707070;
}
main div.content div.right-con div.right-content .pic-box .item dl dd a:hover {
  color: #0088cc;
}
main div.content div.right-con div.right-content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
main div.content div.right-con div.right-content table th,
main div.content div.right-con div.right-content table td {
  border: 1px solid #d9dbdb;
  padding: 10px 13px;
  word-break: break-all;
  text-align: justify;
  line-height: 30px;
  font-size: 14px;
  color: #767676;
}
main div.content div.right-con div.right-content table thead.xlghead {
  border: 1px solid #d9dbdb;
  border-top: none;
}
main div.content div.right-con div.right-content table thead.xlghead tr {
  border-right: 1px solid #d9dbdb;
}
main div.content div.right-con div.right-content table thead.xlghead tr.bor {
  border-top: 1px solid #d9dbdb;
}
main div.content div.right-con div.right-content table thead.xlghead tr th {
  border-left: 1px solid #d9dbdb;
}
main div.content div.right-con div.right-content .map {
  position: relative;
}
main div.content div.right-con div.right-content .map #container {
  min-height: 398px;
  border: 1px solid gray;
}
main div.content div.right-con div.right-content .mapBtn {
  background-color: #fff;
  padding: 0 10px;
  border: 1px solid silver;
  box-shadow: 3px 4px 3px 0px silver;
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 5px;
  border-radius: 3px;
  line-height: 36px;
}
main div.content div.right-con div.right-content .mapBtn input#districtName {
  width: 80px;
}
main div.content div.right-con div.right-content .mapBtn input.getResult {
  font-size: 12px;
  padding: 1px 10px;
}
main div.FAQ {
  height: 230px;
  background: url(../img/bg_commonProblem.png) no-repeat center center;
  /* div.FAQ-con{
      max-width: 1130px;
      margin: auto;
      padding: 25px 50px;
      text-align: left;
      box-sizing: border-box;
      h1{
        color: #fff;
        font-size: 28px;
        margin-bottom: 10px;
      }
      p{
        font-weight: bold;
        &.FAQ-one{
          font-size: 16px;
          line-height: 30px;
          color: #000;
          margin-bottom: 10px;
        }
        &.FAQ-two{
          width: 36%;
          line-height: 20px;
          color: #434343;
          letter-spacing: 2px;
          font-size: 15px;
        }
      }
    } */
}
main div.content {
  /*    .collapse-card__body{
      text-indent: 2rem;
    }*/
}
main div.content .container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem 1rem;
}
main div.content h5.collapse-card__title {
  font-size: 16px;
}
main div.content .mt1 {
  margin-top: 1rem;
}
main div.content .align-right {
  text-align: right;
}
main div.content .mouse-pointer {
  cursor: pointer;
}
footer {
  margin-top: -41px;
  width: 100%;
  background: #F2F2F2;
}
footer div.footer {
  display: flex;
  max-width: 1130px;
  margin: auto;
  text-align: center;
  font-size: 12px;
}
footer div.footer div.copyright {
  width: 50%;
}
footer div.footer aside {
  margin-right: 5%;
  line-height: 40px;
}
footer div.footer aside i:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}
footer div.footer aside i.phone {
  background: url("../img/footer-phone.png") no-repeat center center;
}
footer div.footer aside i.email {
  background: url("../img/footer-email.png") no-repeat center center;
}
footer div.footer aside span {
  margin: 0 10px 0 5px;
}
