.popupLayer{position:absolute;width:380px;height:350px;border:1px solid #8BA4D8;font-size: 12px;top:0; background: #fff;z-index: 9999;}		
.popupLayer ul{margin:0;padding:0; display:block; width:100%; clear:both; margin-top:4px; padding-right:20px;}
.popuLayer ul li a{cursor: default; line-height: 1.6em; text-decoration: none;  outline: medium none;color: #1155CC; margin-right:8px;white-space: nowrap;word-wrap:break-word;word-break:break-all;font-size: 12px;}
.popuLayer ul li a span{color: #0000CC; cursor: pointer; margin: 0.1em 0.5em 0 0; padding: 0;text-decoration: underline;  display: inline-block;white-space: nowrap;padding-right:2px;word-wrap:break-word;word-break:break-all}
.popupSelectCityDiv{width:250px;height:32px; line-height:32px;}
.popupSelectCity{height:25px;float:left;font-weight:bold}		

.popupSelectCityTagA{width:60px;height:32px; float:left;font-size:12px;line-height:32px; color:#3D6DCC}

.popupSelectContentWrap{height: 320px;overflow:scroll;overflow-x:hidden }

.popupSelectContent_title{height:50px; margin-left:6px;}
.popupSelectContent_title tbody tr td nobr{float:left; padding-right:6px;	line-height:21px;height:21px;color:#090C8D} 

.popupSelectContent{height:325px; margin-left:6px;}

.popupSelectContent tbody tr td nobr{float:left; padding-right:6px;	line-height:21px;height:21px;color:#090C8D} 

.popupTitle{height:25px;line-height: 25px;background-color: #F1F6FF; margin-left:6px;font-size:13px; }

.popupClose{height:12px;width:12px; position:absolute;right:5px;top:5px;background-color:#F8FBFF; cursor:pointer; text-indent:-9999px; background:url(../../images/popup_close.gif) no-repeat}

.popupNoSelectLi{ font-size:12px; margin-right:6px; display: block; width:60px; vertical-align: top;line-height:21px;height:21px;}
.popupNoSelectLi a{ color:#3D6DCC;text-decoration:none; font-weight:bold}
.popupSelectContentTd{ vertical-align: top;}
.popupNoSelectItem{float: left;text-decoration:none; color:#3D6DCC}

/*城市列表--热点城市**/
.divHotCitys{
	border-bottom: 1px solid #CCCCCC;
    line-height: 22px;
    margin-bottom: 13px;
    padding: 8px 0 13px 9px;
	height: 20px;
}
.divHotCitys a{
	margin-right: 7px;
}












