
/*表格*/
.data-list {
    position: fixed;
    left: 0; bottom: 0;
    width: 450px; height: 40px;    
    z-index: 77778;
    background-color: #fff;
    overflow: hidden;
    border-right: 1px solid #ddd;
}

.data-list .head {
    height: 40px;
}

.data-list .head .title {
    float: left;
    width: 246px; 
    height: 40px;
    background: #0096ff url(../imgs/table/title-marker.png) no-repeat 4px center;
    color: #fff;
    font: normal normal bold 14px/40px 'microsoft yahei';
    padding-left: 28px;
    cursor: pointer;
}

.data-list .head .title .tab-icon-style {
    min-width: 90px;
    height: 16px;
    margin: 12px 2px 0 0;    
    display: inline-block;
    float: right;
    border-left: 1px solid #ddd;
    text-align: center;
    font: normal normal bold 14px/16px 'microsoft yahei';
}
.data-list[status="min"] .tab-icon-style, 
.data-list[status="left-max"] .tab-icon-style {
    width: 90px;
}
.data-list[status="max"] .tab-icon-style, 
.data-list[status="bottom-max"] .tab-icon-style {
    width: 50%;
}

span.tab-text:hover,
span.tab-icon-style:hover {
    text-decoration: underline;
}
.data-list .head .import {
    float: left;
    width: 122px; height: 40px;
    background: #fff url(../imgs/table/title-import.png) no-repeat 10px center;
    color: #333;
    font: normal normal bold 14px/37px 'microsoft yahei';
    padding-left: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.data-list .head .resize {
    float: left;
    width: 40px; height: 40px;
    border: 1px solid #ddd;
    border-left: none;
    cursor: pointer;
    background-color: #fff;
}
.data-list .head .import:hover, .data-list .head .resize:hover {
    background-color: #f5f5f5;
}
.data-list .head .second {
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
}
.data-list .head .third {
    border: 1px solid #ddd;
    border-right: 0;
}
/*.data-list .head .second:hover {
    border: 2px solid #ddd;
    border-left: 0;
}

.data-list .head .second:hover {
    border: 2px solid #ddd;
    border-right: 1px solid #ddd;
}*/
.data-list .head .up {
    background: #fff url(../imgs/table/up-top.png) no-repeat center center;
}
.data-list .head .right {
    background: #fff url(../imgs/table/up-right.png) no-repeat center center;
}
.data-list .head .min {
    background: #fff url(../imgs/table/min.png) no-repeat center center;
}
.data-list .head .left {
    background: #fff url(../imgs/table/up-left.png) no-repeat center center;
}
.data-list .head .bottom {
    background: #fff url(../imgs/table/down-bottom.png) no-repeat center center;
}
.data-list .head .third {
    display: none;
}
.data-list .content {
    width: 100%;
    display: none;
    position: relative;
}
.data-list .content .triangle-top {
    position: absolute;
    top: -15px;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid dashed dashed dashed;
    border-color: transparent transparent #fff transparent;
}
.data-list .content .triangle-top.front {
    left: 50px;
}
.data-list .content .triangle-top.back {
    right: 240px;
}
.data-list .content .search-area {
    padding: 10px 0 0 10px;
}
.data-list .data-results {
    overflow: auto;
    width: 450px; height: 250px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.data-list .data-table {
    border: none;
}
.data-list .data-table > thead {
    height: 40px;
    background-color: #EDEBE9;    
}
.data-list .data-table > thead td {
    border: 1px solid #fff;  
}
.data-list .data-table > tbody td {
    border: 1px solid #ddd;  
    /*overflow: hidden;*/
    /*word-break: break-all;*/
    word-wrap:break-word;
}
.data-list .data-table thead .a-head {
    font-size: 12px;
    color: #444;
    font-family: 'microsoft yahei';
    font-weight: bold;
}
.data-list .data-table thead .a-head:hover {
    text-decoration: none;
}
.data-list .data-table thead .a-head:active {
    text-decoration: none;
}
.data-list .data-table thead .dropdown-menu {
    min-width: 80px;
    box-shadow: none;
    border-radius: 0;
}
.data-list .data-table thead .dropdown-menu > li > a {
    font-size: 12px;    
}
.data-list .data-table td {
    max-width: 300px;
    text-align: center;
    word-break:break-all;
}
.data-list .data-table td.td-60 {
    min-width: 60px;    
}
.data-list .data-table td.td-100 {
    min-width: 100px;    
}
.data-list .data-table td.td-150 {
    min-width: 160px;    
}
.data-list .data-table td.td-200 {
    min-width: 200px;    
}
.data-list .data-table td.td-300 {
    min-width: 300px;    
}
.data-list .data-table tbody td[data-editable] {
    cursor: pointer;   
}
.data-list .foot {
    width: 100%;
    padding: 10px 10px 10px 0;
}
.data-list .foot .a-foot {
    font-size: 14px;
    font-family: 'microsoft yahei';
    margin-right: 15px;
}

.data-list .data-table tbody tr.action {
    background-color: #8CD9FC;
}
.data-list .data-table tbody tr.error {
    color: red;
}

.data-list .table-branches-count {
    width: 100%;
    display: none;
    padding: 25px 0;
}

/*编辑单元格*/
.data-cell-edit {    
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
    min-height: 320px; min-width: 560px;
    background-color: rgba(9,9,9,0.1);
    z-index: 80000;
    overflow: auto;
}
.data-cell-edit .box {
    position: absolute;   
    width: 250px; 
    height: 160px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    /*padding: 10px 15px 0 15px;*/
}
.data-cell-edit-group .box  {
    position: absolute;   
    width: 250px; 
    height: 110px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    /*padding: 10px 15px 0 15px;    */
}
.data-cell-edit .box .text-cell-edit { 
    width: 215px; 
    height: 90px;
    margin: 10px 15px 0 15px; 
    border: 1px solid #ddd;
    outline: none;
    padding: 5px;
    font-size: 12px; 
    font-family: 'microsoft yahei';
    line-height: 22px;
    color: #444;
}
.data-cell-edit .box .foot { 
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
}
/*新增列*/
.data-column-add, 
.data-column-rename, 
.data-branchgroup-add,
.data-cell-edit-group {    
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
    min-height: 320px; min-width: 560px;
    background-color: rgba(9,9,9,0.1);
    z-index: 80000;
    overflow: auto;
}
.data-column-add .box, 
.data-branchgroup-add .box { 
    position: relative;
    width: 250px;
    height: 120px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    /*padding: 10px 15px 0 15px;*/
    margin: 0 auto;
}
.data-column-add .box .foot, 
.data-branchgroup-add .box .foot,
.data-column-rename .box .foot,
.data-cell-edit-group .box .foot { 
    padding: 0 10px;
}
.data-column-add .box .text-column-add, 
.data-column-rename .box .text-column-rename, 
.data-branchgroup-add .box .text-branchgroup-add { 
    width: 215px; 
    border: 1px solid #ddd;
    outline: none;
    padding: 5px;
    margin: 10px 15px 0 15px;
    font-size: 12px; 
    font-family: 'microsoft yahei';
    line-height: 22px;
    color: #444;
}
.data-column-rename .box { 
    position: absolute;
    width: 250px; height: 120px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    /*padding: 10px 15px 0 15px;*/
}

.data-list .content[data-display="icon"] {
    width: 100%;
    display: none;
}
.data-list .content .tab-icon-list { 
    width: 100%; 
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.data-list .content .tab-edit {  
    position: relative;
    width: 100%;
    height: 100%;  
    display: none;
    overflow: hidden;
}
.data-list .content .tab-edit .icon-edit-container {
    padding: 0 0 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.data-list .content .tab-edit .icon-save-container {  
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
    border-top: 1px solid #ccc;
    box-shadow: 0px 1px 4px #9f9f9f;    
}
.data-list .content .branch-icon {
    position: relative;
    width: 400px;
    height: 128px;
    float: left;
    background: #fff url(../imgs/branch-icon/iconbg.jpg) no-repeat 0 0;
    border: 1px solid #ddd;    
    margin: 25px 0 0 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.data-list .content .tab-icon-list > .branch-icon:last-child {
    margin-bottom: 25px;
}
.icon-edit-container .icon-attr > .branch-icon {
    cursor: default;
    margin: 10px 25px;
}

.icon-demo, .icon-branch {
    width: 32px;
    height: 32px;
    margin: 48px auto 0 auto;
    background: transparent url('../assets/map/red/default.svg') no-repeat 0 0;
    background-size: 100% 100%;
    text-align: center;
    vertical-align: middle;
}
.data-list .content .branch-icon .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: rgba(33,33,33,.4);
    color: #fff;
    font: normal normal bold 15px/35px 'microsoft yahei';
}
.tab-icon-list .branch-icon:hover,
.tab-icon-list .add-branch-icon:hover {    
    box-shadow: 0 0 7px #ccc;
}

.data-list .content .add-branch-icon {
    position: relative;
    width: 400px;
    height: 128px;
    float: left;
    border: 1px solid #ddd;    
    margin: 25px;
    cursor: pointer;
}
.data-list .content .add-branch-icon span.add-icon-style {
    color: #333;
    margin: 38px 0 0 185px;
    font-size: 28px;
}
.data-list .content .add-branch-icon .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    color: #333;
    font: normal normal bold 15px/35px 'microsoft yahei';
}
.data-list .tab-edit .icon-attr {
    position: relative;
    width: 425px;
    height: 210px;
    float: left;
}
.data-list .tab-edit .inputs-group {
    width: 400px;
    height: 60px;
    float: left;
    margin: 0 0 0 25px;
}
.data-list .tab-edit .inputs-group .row-2 {
    width: 190px;
}
.branch-group {
    width: 190px;
    height: 28px;
    /*margin: 15px;*/
    font: normal normal normal 12px/28px 'microsoft yahei';
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
}
.icon-selector {
    min-width: 400px;
    float: left;
    margin: 20px 0 0 25px;
}
.icon-selector > ul {
    width: 100%;
    height: 30px;
}
.icon-selector > ul > li {
    width: 20%;
    height: 30px;
    float: left;
    font: normal normal bold 14px/30px 'microsoft yahei';
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
/*.icon-selector > ul > li:first-child {
    text-align: left;
}
.icon-selector > ul > li:last-child {
    text-align: right;
}*/
.icon-selector .box {
    position: relative;    
    width: 100%;
    height: 140px;
    display: none;
}
.icon-selector .box .top-mark {
    position: absolute;
    top: 0;
    width: 20%;  
    min-width: 80px; 
    height: 3px; 
    background: #0096ff;
}
.icon-selector .back {
    display: block;
}
.icon-selector .back .top-mark {
    left: 0;
}
.icon-selector .back > ul > li {
    width: 60px;
    height: 65px;
    float: left;
    margin: 20px 0 0 20px;
    text-align: center;
    cursor: pointer;
}
.icon-selector .back > ul > li:not(.action):hover {
    border-bottom: 3px solid #03E4FD;
}
.icon-selector .back > ul > li.action {
    border-bottom: 3px solid #0096ff;    
}
.icon-selector .back > ul > li img {
    width: 32px;
    height: 32px;
}
.icon-selector .back > ul > li > span {
    display: block;
    margin: 5px 0 0 0;
    color: #000;
    font: normal normal normal 12px/24px 'microsoft yahei';
}
.icon-selector .size .top-mark {
    left: 20%;
}
.icon-selector .size .choose-size {
    width: 400px;
    padding: 40px 0 0 8px;
}
.icon-selector .size .size-slider {
    width: 350px;
    float: left;
}
.icon-selector .size .slider-textmark {
    width: 340px;
}
.icon-selector .size .slider-textmark > span {
    font: normal normal normal 10px/10px 'microsoft yahei';
    -webkit-transform:scale(0.9); 
}
.icon-selector .size .slider-textmark > span.left {
    margin: 0 0 0 -5px;
}
.icon-selector .size .slider-textmark > span.right {
    margin: 0 -5px 0 0;
}
.slider-selection {
    background: #0096ff;
}
.slider-handle.custom:before {
    content: '\e638'; 
    color: #0096ff;
    font: normal normal normal 14px/14px 'iconfont';
}
input.icon-size {
    width: 40px;
    height: 33px;
    border: 1px solid #999;
    padding: 10px 8px;
    margin: -8px 0 0 0;
    font: normal normal normal 12px/33px 'microsoft yahei';
    outline: none;
}


.icon-selector .color .top-mark {
    left: 40%;
}
.icon-selector .color ul {
    width: 100%;
    height: 200px;
    padding: 20px 0 0 15px;
}
.icon-selector .color li {
    width: 80px;
    height: 80px;
    float: left;
    margin: 15px 15px 0 0;
    cursor: pointer;
}
.icon-selector .color li.red {
    background-color: #e51c23;
}
.icon-selector .color li.purple {
    background-color: #9c27b0;
}
.icon-selector .color li.blue {
    background-color: #0066ff;
}
.icon-selector .color li.green {
    background-color: #259b24;
}
.icon-selector .color li.orange {
    background-color: #ff8800;
}
.icon-selector .color li.brown {
    background-color: #795548;
}
.icon-selector .color li.indigo {
    background-color: #10a0ad;
}
.icon-selector .color li.black {
    background-color: #000;
}
.icon-selector .color li.left-20 {
    margin-left: 26px;
}
/*.icon-selector .color li:hover, */
.icon-selector .color li.action {
    background-image: url(../imgs/branch-icon/color-hover.png);
    background-repeat: no-repeat;
    background-position: 55px 5px;
}
.icon-selector .color li:hover {
    box-shadow:0px 0px 4px #333;
}


.icon-selector .ico .top-mark {
    left: 60%;
}
.icon-selector .ico ul {
    width: 100%;
}
.icon-selector .ico ul li {
    width: 30px; 
    height: 30px;
    margin: 20px 0 0 20px;
    color: #999;
    float: left;
    text-align: center;
    vertical-align: center;
}
.icon-selector .ico ul li:not(.disabled) span:not(.none) {
    font: normal normal normal 22px/22px 'iconfont' !important;
    cursor: pointer;
}
.icon-selector .ico ul li:not(.disabled) span.none {
    font: normal normal normal 22px/22px 'simhei';
    cursor: pointer;
}
.icon-selector .ico ul li:not(.disabled):not(.action) span:hover {
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    /*color: #03E4FD;
    box-shadow: 0 0 4px #999;
    border-bottom: 3px solid #03E4FD;*/
}
.icon-selector .ico ul li.action span {
    color: #0096ff;
    cursor: default;
    /*border-bottom: 3px solid #0096ff;*/
}
.icon-selector .ico ul li.disabled span {
    font: normal normal normal 22px/22px 'iconfont' !important;
    color: #ccc;
    cursor: default;
}


.icon-selector .custom .top-mark {
    right: 0;
}
.icon-selector .custom > ul {
    width: 100%;
    padding-top: 25px;
}
.icon-selector .custom > ul > li {    
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    float: left;
    margin-left: 20px;
    line-height: 60px;
    text-align: center;
}
.icon-selector .custom > ul > li:not(.action):hover {
    box-shadow: 0px 0px 4px #333;
}
.icon-selector .custom > ul > li.upload-custom-icon {
    background-color: #0096ff;
    cursor: pointer;
}
.icon-selector .custom > ul > li.upload-custom-icon > span {
    color: #fff;
    font-size: 30px;
    margin: 15px;
}
.icon-selector .custom > ul > li:not(.action) > img.ico {
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
}

.icon-selector .custom > ul > li > a.delete {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 14px;
    height: 14px;
    display: none;
    background: transparent url(../imgs/branch-icon/ico-delete.png) no-repeat 0 0;
    cursor: pointer;
}
.icon-selector .custom > ul > li:not(.action):hover a.delete {
    display: block;
}

.icon-selector .custom > ul > li:not(.action) > a.selected {
    display: none;
}
.icon-selector .custom > ul > li.action > a.selected {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    display: block;
    background: transparent url(../imgs/branch-icon/color-selected.png) no-repeat 0 0;    
    cursor: default;
}


.btn-gray {
    margin: 6px 0 0 8px;
    background-color: #999;
    border-color: #888;
}
.btn-green {
    margin: 6px 25px 0 8px;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.icon-save-container .btn {
    border-radius: 0;
    outline: none;
    float: right;
    padding: 5px 30px;
    color: #fff;
}
.icon-save-container .btn:hover, 
.icon-save-container .btn:focus, 
.icon-save-container .btn:active {
    color: #fff;
    outline: none;
}
.icon-save-container .btn-green:hover,
.icon-save-container .btn-gray:hover {
    box-shadow: 0 0 7px #666;
}

/*导入数据*/
.data-import, .data-cars {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
    min-height: 320px; min-width: 560px;
    background-color: rgba(30,30,30,.5);
    z-index: 80000;
    overflow: auto;
    line-height: 100%;
}
.data-import .box, .data-cars .box {
    position: relative;
    width: 550px; height: 310px;
    background-color: #fff;
    margin: 0 auto;
}
.data-import .box .title, .data-cars .box .title {
    width: 100%; height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;    
}
.data-import .box .title .close, .data-cars .box .title .close {
    line-height: 40px;
}
.data-import .box .title .text, .data-cars .box .title .text {
    float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'microsoft yahei';
    color: #3b3b3b;
}
.data-import .box .body {
    width: 100%; height: 165px;
    border-bottom: 1px solid #ddd;
    padding-top: 45px;
}
.data-import .box .body .select-file {
    width: 100%; 
}
a.btn-select-file {
    display: block;
    width: 160px; height: 50px;
    background: #fff url(../imgs/import/selectfile.png) no-repeat 0 0;
    margin: 0 auto;
}
a.btn-during-import {
    display: block;
    width: 165px; height: 54px;
    background: #fff url(../imgs/import/during.png) no-repeat 0 0;
    margin: 0 auto;
}
a.btn-select-file:hover {
    display: block;
    width: 160px; height: 50px;
    background: #fff url(../imgs/import/selectfile-hover.png) no-repeat 0 0;
}
a.btn-select-file:active {
    display: block;
    width: 160px; height: 50px;
    background: #fff url(../imgs/import/selectfile-active.png) no-repeat 0 0;
}
#txt_import_branches {
    width: 250px; height: 24px;    
    margin: 0 auto;
}
.hide {
    display: none;
}
.data-import .box .body .import-hint {
    width: 100%; 
    padding-top: 15px;
    text-align: center;
}
.data-import .box .body .import-hint.black {
    color: #333;
}
.data-import .box .body .import-hint.gray {
    color: #999;
}
.data-import .box .download-area {
    width: 100%; height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 5px 50px 0 50px;
}
.data-import .box .download-area a.btn-download-branches {
    display: inline-block;
    width: 170px; height: 38px;  
    line-height: 38px; 
    background: #fff url(../imgs/import/down.png) no-repeat 5px 5px;
    padding-left: 30px;
    border: 1px solid #fff;
    font-size: 14px; 
    font-weight: bold; 
    font-family: 'microsoft yahei';
    color: #777;
    text-decoration: none;
}
.data-import .box .download-area a.btn-download-branches:hover {
    border: 1px solid #ddd;
    text-decoration: none;
}
.data-import .box .download-area a.btn-download-branches:active {
    background-color: #eee;
    text-decoration: none;
}
.data-import .box .foot {
    width: 100%;
    padding: 5px 40px 0 0;
}



.data-cars {   
    min-width: 830px;
    min-height: 370px;
}
.data-cars .box {
    width: 830px; height: 370px;    
}
.data-cars .box .title {
    background-color: #CFE9F1;
}
.data-cars .box .search-area {
    padding: 10px;
}
.data-cars .box .search-area .btn-search-cars {
    padding: 2px 10px;
    outline: none;
}
.data-cars .box .search-area label {
    font-size: 12px;
    font-weight: normal;
}
.data-cars .box .search-area input, .data-cars .box .search-area .select-car-type {
    width: 110px; 
    font-size: 12px;
    font-family: 'microsoft yahei';
    margin: 0 10px 0 5px;
    padding: 2px 6px;
}
.data-cars .box .search-area .select-car-type {

} 
.data-cars .box .content {
    width: 99%;
    height: 200px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    border: 1px solid #ddd;
}
.data-cars .box .foot a {
    margin-right: 15px;
}
.table-cars td {
    border: 1px solid #ddd;
}


/*用户引导*/
.data-guide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    min-height: 320px;
    min-width: 560px;
    background-color: rgba(0,0,0,.5);
    z-index: 80000;
    overflow: auto;
    line-height: 100%;
}
.data-guide .step-1 {
    position: absolute;
    left: 246px;
    bottom: 0; 
    width: 500px;
    height: 280px;
    background: url(../imgs/guide/wangdian/step1.png) no-repeat 20px 5px;
}
.data-guide .step-1 .import {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 122px;
    height: 40px;
    background: #fff url(../imgs/table/title-import.png) no-repeat 10px center;
    line-height: 37px;
    color: #333;
    font-size: 18px;
    font-family: "microsoft yahei";
    font-weight: bold;
    padding-left: 30px;
    border: 1px solid #ddd;
}
.data-guide .next {
    position: absolute;
    width: 115px;
    height: 50px;
    background: url(../imgs/guide/wangdian/next-step.png) no-repeat 0 0;
    cursor: pointer;
}
.data-guide .step-1 .next {
    left: 380px;
    top: 100px;
}

.data-guide .step-2 {    
    position: absolute;
    right: 25px;
    top: 5px; 
    width: 400px;
    height: 280px;
    display: none;
    background: url(../imgs/guide/wangdian/step2.png) no-repeat 0 50px;
}
.data-guide .step-2 input {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
}
.data-guide .step-2 .next {
    left: 130px;
    top: 280px;
}

.data-guide .step-3 {    
    position: absolute;
    right: 220px;
    top: 5px; 
    width: 580px;
    height: 350px;
    display: none;
    background: url(../imgs/guide/wangdian/step3.png) no-repeat 0 50px;
}
.data-guide .step-3 a {    
    position: absolute;
    top: 0;
    right: 200px;
    background-color: #fff;
    cursor: default;
}
.data-guide .step-3 .next {
    left: 360px;
    top: 230px;
}

.data-guide .step-4 {    
    position: absolute;
    left: 175px;
    top: 10px; 
    width: 580px;
    height: 350px;
    display: none;
    background: url(../imgs/guide/wangdian/step4.png) no-repeat 0 50px;
}
.data-guide .step-4 .start {
    position: absolute;
    left: 280px;
    top: 150px;
    width: 72px;
    height: 49px;
    background: url(../imgs/guide/wangdian/start.png) no-repeat 0 0;  
    cursor: pointer;  
}
.data-guide .step-4 .layers-control {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 18px;
    background-color: #fff;
}
.data-guide .step-4 .layers-control input[type="checkbox"] {
    margin: -2px 2px 0 2px;
    background-color: #fff;
}
.data-guide .step-4 .layers-control i {
    background: none repeat scroll 0 0 #999;
    display: inline-block;
    height: 14px;
    margin: 3px 5px 5px 5px;
    vertical-align: middle;
    width: 1px;
}
.data-guide .step-4 .layers-control label {
    font-weight: normal;
}



/*更新样式的弹窗*/
/*.data-update-style .box {
    background: #fff url(../imgs/branch-icon/alert.png) no-repeat 10px center;  
    padding-left: 100px;  
}*/

.margin-15 {
    margin: 15px;
}
