/*大图*/
.theme-image {
    background:  #48AACD url(../images/theme.jpg)  no-repeat scroll center;
    height: 406px;
}
.pendant {
    width: 200px;
    height: 56px;
    position: absolute;
    top: 336px;
    /*background-color: #666;*/
    opacity: 0.9;
    z-index: 333;
}
/*各系统入口区*/
.entrance-area {
    width: 100%; 
    background-color: #E8E8E8;
    margin: 0 auto;
    min-height: 305px;
    padding: 40px 0;
}
.imgs {
    width: 960px;
    margin: 0 auto;
}
.imgs span{
    line-height: 50px;
    font-size: 16px;
    font-family: "microsoft yahei";
}
