body {
  width: 100%;
  height: 100%;
  background-color: #fefefe;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*左侧工具栏*/
.console-box {
  width: 350px;
  height: 100%;
  float: left;
  border: 1px solid #dbdbdb;
}
.console-box .title {
  width: 100%;
  height: 40px;
  background-color: #dbdbdb;
  line-height: 40px;
  font-family: 'microsoft yahei';
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 15px;
}
.console-box .content-during {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.console-box ul.during {
  padding: 15px 0 0 15px;
}
.console-box ul.during li {
  width: 80px;
  height: 36px;
  text-align: center;
  color: #0099FD;
  line-height: 36px;  
  font-family: 'microsoft yahei';
  font-size: 12px;
  font-weight: bold;
  float: left;
  cursor: pointer;
}
.console-box ul.during li.first {
  background: #fff url(../imgs/statistics/li-first.png) no-repeat 0 0;  
  border-right: 1px solid #ddd;
}
.console-box ul.during li.first:hover {
  background: #fff url(../imgs/statistics/li-first-hover.png) no-repeat 0 0;  
}
.console-box ul.during li.first.action {
  background: #fff url(../imgs/statistics/li-first-action.png) no-repeat 0 0;  
  border-right: 0;
}
.console-box ul.during li.last {
  background: #fff url(../imgs/statistics/li-last.png) no-repeat 0 0;  
}
.console-box ul.during li.last:hover {
  background: #fff url(../imgs/statistics/li-last-hover.png) no-repeat 0 0;  
}
.console-box ul.during li.last.action {
  background: #fff url(../imgs/statistics/li-last-action.png) no-repeat 0 0;  
}
.console-box ul.during li.normal {
  background: #fff url(../imgs/statistics/li.png) no-repeat 0 0;
  border-right: 1px solid #ddd;
}
.console-box ul.during li.normal:hover {
  background: #fff url(../imgs/statistics/li-hover.png) no-repeat 0 0;
}
.console-box ul.during li.normal.action {
  background: #fff url(../imgs/statistics/li-action.png) no-repeat 0 0;
  border-right: 0;
}

.console-box .custom-during {
  width: 100%;
  height: 58px;
  display: none;
  margin-top: 15px;
  padding: 5px 0 10px 7px;
}
.console-box .custom-during .input-during {
  width: 125px;
  height: 30px;
  margin-top: 8px;
  padding: 3px 1px;  
  color: #858585;
  font: normal normal normal 10px/30px 'microsoft yahei';
  border-radius: 0;
  outline: none;
  cursor: pointer;
}
.console-box .custom-during .button-search {
  width: 60px;
  height: 32px;
  display: inline-block;
  text-align: center;
  background: #fff url(../imgs/statistics/search-back.png) no-repeat 0 0;  
  color: #333;
  text-decoration: none;
  outline: none;
  font: normal normal normal 14px/32px 'microsoft yahei';
}
.console-box .custom-during .button-search:hover {
  background: #fff url(../imgs/statistics/search-back-hover.png) no-repeat 0 0;  
  text-decoration: none; 
  color: #333;
}
.console-box .custom-during .button-search:active {
  background: #fff url(../imgs/statistics/search-back-active.png) no-repeat 0 0;  
  text-decoration: none; 
  color: #333;
}

.map-box {
  height: 100%;
  min-width: 500px;
  float: right;
}
.map-box .toolbox {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.smcity .smcity-content {
  position: absolute;
  left: 0;
  top: 30px;
}

.list-group-item:first-child {
  border-radius: 0;
  border-top: none;
}
.list-group-item:last-child {
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}
.list-group {
  padding-left: 0;
  margin-bottom: 0; 
}

.data-list {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.data-list > ul > li {
  width: 330px;
  height: 70px;
  padding: 0 10px 0 0;
  margin: 0;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0;
}
.data-list ul li .order {
  width: 60px;
  height: 70px;
  float: left;
  font: normal normal bold 16px/70px 'microsoft yahei';
  color: #555;
  text-align: center;
}
.data-list ul li .content {
  width: 250px;
  height: 70px;
  float: left;
}
.data-list ul li .content .top {
  width: 100%;
  height: 35px;
}
.data-list ul li .content .top .name {
  float: left;
  font: normal normal bold 13px/55px 'microsoft yahei';
  color: #777;
  cursor: pointer;
}
.data-list ul li .content .top .name:hover {
  color: #3D6DCC;
}
.data-list ul li .content .top .count {
  float: right;
  font: normal normal bold 13px/55px 'microsoft yahei';
  color: #777;
}
.data-list ul li .content .cus-progress-bar {
  height: 6px;
  margin-top: 11px;
  background-color: #0099FD;
  border-radius: 5px;
}
