<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans.xsd   
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context.xsd   
          http://www.springframework.org/schema/tx    
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/data/jpa
          http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd 
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util.xsd">

	<context:property-placeholder location="classpath:config.properties" />
	<util:properties id="configParam" location="config.properties" />

	<import resource="consumer.xml" />
	<import resource="provider.xml" />
	<import resource="mongodbConfig.xml" />

	<context:component-scan base-package="com.supermap.egispservice.lbs" />

	<!-- 定义实体管理器工厂 -->
	<!-- <bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="SupermapJPA" />
	</bean> -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="com.supermap.egispservice.base.entity" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="dataSource">
			<bean class="org.logicalcobwebs.proxool.ProxoolDataSource">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="driverUrl" value="${db.url}" />
				<property name="user" value="${db.username}" />
				<property name="password" value="${db.password}" />
				<!-- 最小连接数（默认5） -->
				<property name="minimumConnectionCount" value="5" />
				<!-- 最大连接数（默认15） -->
				<property name="maximumConnectionCount" value="15" />
				<!-- 检测器休眠时间间隔，单位毫秒（默认30000）。每隔配置时间间隔后检测所有连接状态，空闲回收，超时销毁 -->
				<property name="houseKeepingSleepTime" value="30000" />
				<!-- 最小可用连接数（默认0） -->
				<property name="prototypeCount" value="5" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- 启用 annotation事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 配置Spring Data JPA扫描目录--> 
    <jpa:repositories base-package="com.supermap.egispservice.lbs.dao"/>
    <jpa:repositories base-package="com.supermap.egispservice.lbs.entity"/>
    
    
    <bean class="com.supermap.egispservice.lbs.mongobase.MyApplicationContextUtil"></bean>
</beans> 