
/*reset && base*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, img, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

body {    
    background: #f7f7f7;
    background-color: #f7f7f7;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol, li {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;    
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

a {
    color: #333;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    color: #3372A2;
    text-decoration: underline;
}

a:focus {
    outline: none;    
}
ul {
    margin: 0;
}
input[type="checkbox"] {
    cursor: pointer;
}

.map-copyright {
    position: absolute; 
    bottom: 1px; 
    right: 190px; 
    display: block;
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    font-stretch: normal; 
    font-size: 11px; 
    line-height: normal; 
    font-family: 'microsoft yahei'; 
    z-index: 77777; 
}

.triangle {
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: transparent transparent #0096ff transparent;
}

.popover-result {
    position: fixed;
    bottom: 60px;
    display: none;
    margin: 0 auto;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    background-color: #666;
    border-radius: 4px;
    z-index: 80010;
}
.popover-result .popover-result-content {
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #fff;
    width: auto;
    padding: 8px 10px;
    margin: 0 auto;
}

/*顶部提示*/
.popover-hint {
    position: fixed;
    top: 50px;
    display: none;
    margin: 0 auto;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    border-radius: 0;
    z-index: 80010;
}
.popover-hint-content > a {
    display: inline-block;
    padding: 8px 15px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    background: #FFEEB9;
    color: #333;
    font: normal normal normal 12px/22px 'microsoft yahei';
    cursor: default;
    text-decoration: none;
    outline: 0;
}
.popover-hint-content > a:hover {
    text-decoration: none;
    outline: 0;
}

.map-popup {
    position: relative;
    min-width: 305px; 
    min-height: 220px;
}

.map-popup-content {
    position: absolute;
    left: 0; top: 0; 
    padding: 5px 0 0 5px;
    width: 100%;
}
.map-popup .title {
    width: 100%;
    line-height: 20px;
    height: 25px;
    border-bottom: 1px solid #ddd;
}
.map-popup .title span.name {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 220px;
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    color: #333;
}
.map-popup .title a.popup-close {
    display: inline-block;
    float: right;
    width: 16px; height: 16px;
    background: url(imgs/cancel.png) no-repeat 0 0;
    cursor: pointer;
}
.map-popup .title a.popup-close:hover {
    background: url(imgs/cancel-hover.png) no-repeat 0 0;
}
.map-popup .title a.popup-close:active {
    background: url(imgs/cancel-msedown.png) no-repeat 0 0;
}
.map-popup .title a.popup-delete {
    display: inline-block;
    float: right;
    width: 18px; height: 18px;
    background: url(imgs/delete.png) no-repeat 0 0;
    cursor: pointer;
    margin-right: 3px;
}
.map-popup .title a.popup-delete:hover {
    background: url(imgs/delete-hover.png) no-repeat 0 0;
}
.map-popup .title a.popup-delete:active {
    background: url(imgs/delete-msedown.png) no-repeat 0 0;
}

.map-popup .title a.popup-edit {
    display: inline-block;
    float: right;
    width: 18px; height: 18px;
    background: url(imgs/edit.png) no-repeat 0 0;
    cursor: pointer;
    margin-right: 3px;
}
.map-popup .title a.popup-edit:hover {
    background: url(imgs/edit-hover.png) no-repeat 0 0;
}
.map-popup .title a.popup-edit:active {
    background: url(imgs/edit-msedown.png) no-repeat 0 0;
}

.map-popup .title a.popup-sure {
    display: inline-block;
    float: right;
    width: 16px; height: 16px;
    background: url(imgs/sure.png) no-repeat 0 0;
    cursor: pointer;
    margin-right: 3px;
}
.map-popup .title a.popup-sure:hover {
    background: url(imgs/sure-hover.png) no-repeat 0 0;
}
.map-popup .title a.popup-sure:active {
    background: url(imgs/sure-msedown.png) no-repeat 0 0;
}

.map-popup .content {
    width: 100%;
    padding: 10px;
}
.map-popup .content .pictures {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}
.map-popup .content .pictures .caption {
    position: absolute;
    bottom: 0; left: 0;
    width: 220px;
    background-color: rgba(180,180,180,.7);
}
.map-popup .content .pictures .caption span.first {
    display: inline-block;
    width: 60px;
    text-align: center;
    float: left;
}
.map-popup .content .pictures .caption span.second {
    display: inline-block;
    width: 155px;
    text-align: center;
    float: left;
}
.map-popup .content .branch-icon-popup { 
    width: 60px;
    height: 60px;
    /*line-height: 60px;*/
    float: left;
    text-align: center;
    cursor: pointer;
}
.branch-icon-popup:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.map-popup .content .photo {    
    width: 155px;
    height: 60px;
    text-align: center;
    float: left;
    margin-left: 5px;
}
.map-popup .content .photo {
    width: 155px;
    height: 60px;
}
.map-popup .content .photo img {
    max-width: 155px;
    max-height: 60px;
    cursor: pointer;
}
.map-popup .content .attr {
    width: 100%;
    display: block;
    line-height: 26px;
}
.map-popup .content .hide {
    display: none;
}
.map-popup .content .attr .label {
    display: inline-block;
    float: left;
    width: 60px;
    line-height: 26px;
    font-size: 12px;
    font-family: 'microsoft yahei';
    color: #888;
    font-weight: normal;
    text-align: left;
    padding: 0;
}
.map-popup .content .attr .text {
    width: 220px;
    display: inline-block;
    max-width: 220px;
    max-height: 70px;
    font-size: 12px;
    font-family: 'microsoft yahei';
    color: #333;
    word-wrap:break-word;
    line-height: 18px;
    margin-top: 4px;
    overflow-y: auto;
}
.map-popup .content .input {
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    font-family: 'microsoft yahei', arial;
    padding: 1px 5px;
    line-height: 12px;
    width: 210px;
    border-radius: 0;
    margin: 0;
}
.map-popup .content .input-disable {
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    font-family: 'microsoft yahei', arial;
    padding: 1px 5px;
    line-height: 12px;
    width: 80px;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
}
.map-popup .content .attr a.choose-cars {
    color: #3D6DCC;
    cursor: pointer;
}
.map-popup .content .attr .hint {
    color: red;
    display: block;
    height: 16px;
}

.map-popup .content .attr .input-file {
    width: 210px;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    font-family: 'microsoft yahei', arial;
    padding: 1px 5px;
    line-height: 12px;
}
.map-popup .content .attr a.a-save-as-branch {
    margin: 5px 0 0 100px;
}
.map-popup .content .red {
    color: red;
}
.map-popup .content .green {
    color: green;
}
.map-popup .content span.detail {
    max-width: 290px;
    display: block; 
    font-size: 12px;
    font-family: 'microsoft yahei';
    text-indent: 26px;
    line-height: 26px;
}


.map-popup-icons {
    position: absolute;
    display: none;
    left: 0; top: 0;
    width: 100%;
    padding: 5px 0 0 5px;
    text-align: center;
}
.map-popup-icons ul {
    margin: 20px 0 5px 5px;
    display: inline-block;
}
.map-popup-icons ul > li {
    width: 25px;
    height: 35px;
    text-align: center;
}
.map-popup-icons ul > li > img {
   cursor: pointer;
}


.modal {
    z-index: 77779;
}
.modal-backdrop {
    z-index: 77778;
}

input[type="text"][disabled] {
    background-color: #eee;
    color: #999;
}
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'microsoft yahei', 'simsun';
    color: #333;
}

#map {
    width: 100%;
    height: 100%;
    border: none;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ddd;
    z-index: 77779;
    background-color: rgba( 255, 255, 255, 0.9 );
    padding-left: 25px;
    padding-right: 25px;
    line-height: 40px;
}


.smcity {
    width: 150px;
    float: left;
    position: relative;
}
.smcity a.current-city:hover {
    text-decoration: none;
    color: #333;
}
.smcity a.current-city {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    max-width: 150px;
}
.smcity a.current-city span.text{
    color: #333;
}
.smcity .smcity-content {
    position: relative;
    left: -5px;
    top: -5px;
    border: 1px solid #ccc;
    width: auto !important;
    min-height: 80px;
    background-color: #fff;
    z-index: 77778;
    min-width: 330px;
    display: none;
}
.smcity .smcity-content .smcity-title-top {
    width: 100%; height: 30px;
    border-bottom: 1px solid #ccc;
    padding: 0 5px 0 5px;
}
.smcity .smcity-content .smcity-title {
    position: relative;
    min-height: 30px;
    /*max-height: 30px;*/
    padding: 4px 0 4px 5px;
    line-height: 22px;
    width: auto !important;
}
.smcity .smcity-content .line {
    width: 100%; height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 0; padding: 0;
    position: relative;
}
.smcity .smcity-content .smcity-title span {
    line-height: 22px;
}
.smcity .smcity-content .smcity-title-top span {
    float: left;
    line-height: 30px;
}
.smcity .smcity-content .smcity-title-top .show-default-city {
    margin-left: 20px;
}
.smcity .smcity-content .smcity-title a {
    line-height: 22px;
    color: #3D6DCC;
}
.smcity .smcity-content .smcity-title .province, 
.smcity .smcity-content .smcity-title .city,
.smcity .smcity-content .smcity-title .county{
    color: #3D6DCC;
    margin-left: 3px;
    display: none;
}
.smcity .smcity-content .smcity-title-top button.close {
    outline: none;
}
.smcity .smcity-content .all-provinces,  .smcity .smcity-content .child-citys {
    padding: 5px 8px;
    line-height: 24px;
    width: 330px;
}
.smcity .smcity-content .all-provinces > a{
    margin: 0 0 0 8px;
    color: #3D6DCC;
    display: inline-block;
    width: 44px;
}
.smcity .smcity-content .child-citys > a{
    margin: 0 0 0 8px;
    color: #3D6DCC;
    display: inline-block;
    min-width: 50px;
}
.smcity a.set-default-city {
    margin: 0 0 0 10px;
}


.header .layers-control {
    float: left;
}
.header .layers-control input[type="checkbox"] {
    margin: -2px 2px 0 2px;
    cursor: pointer;
}
.header .layers-control label {
    font-weight: normal;
    cursor: pointer;
}

.header .layers-control i {
    background: none repeat scroll 0 0 #999;
    display: inline-block;
    height: 14px;
    margin: 3px 5px 5px 5px;
    vertical-align: middle;
    width: 1px;
}

.header div.search-from-cloud {
    float: right;
    margin-top: 3px;
    position: relative;
}

.header div.search-from-cloud input[type="text"] {
    outline: none;
    font-size: 12px;
    box-shadow: none;
}
.header div.search-from-cloud .child {
    display: none;
}
.header div.search-from-cloud .cloud-pois {
    position: absolute;
    top: 32px; 
    right: 0;
    width: 300px; 
    min-height: 50px;
    z-index: 77779;
    background-color: #fff;
    border: 1px solid #ddd;
}
.header div.search-from-cloud .cloud-pois .content {
    padding: 5px;
}
.header div.search-from-cloud .cloud-pois .content .list-group {
    margin-bottom: 5px;
}
.header div.search-from-cloud .cloud-pois .content-pager {
    float: left;
}
.pagination {
    margin: 5px 5px 0 10px;
}
.header div.search-from-cloud .cloud-pois .content .list-group-item {
    line-height: 25px;
    border: none;
    padding: 5px 15px 2px 15px;
    width: 250px;
    color: #3D6DCC;
}
.header div.search-from-cloud .cloud-pois .content .list-group-item > a {
    color: #3D6DCC;
    margin-left: 10px;
}
.header div.search-from-cloud > .top {
    position: absolute;
    top: 22px; right: 200px;
    border-color: transparent transparent #ccc transparent;
}
.header span.page-cloud-pois {
    line-height: 38px;
}
.header .tools {
    float: right;
    margin-right: 15px;
}
.header > .tools > ul.nav-tools {
    margin: 0;
}
.header > .tools > ul.nav-tools > li {
   float: left;
   position: relative;
}
a.tool-button {
    display: inline-block;
    width: 60px;
    height: 26px;
    border: 1px solid #fefefe;
    line-height: 24px;
    text-align: center;
    color: #222;
}
a.tool-button:hover {
    border: 1px solid #ddd;
    text-decoration: none;
    color: #222;
}
a.tool-button:active {
    background-color: #ddd;
    text-decoration: none;
    color: #222;
}
a.relative {
    position: relative;
}

a.tool-button > img {
    margin-right: 5px;
}
a.tool-button > img.img-2 {
    margin-top: -2px;
}
a.tool-button > img.img-3 {
    margin-top: -3px;
}

.super-menu {
    display: none;
    position: absolute;
    left: 0; top: 28px;
    width: 90px; 
}
.super-menu > .top {
    margin-left: 10px;
    border-color: transparent transparent #ccc transparent;
}
.super-menu > ul {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.super-menu > ul > li{
    width: 100%;
    text-align: center;
    position: relative;
}

.second-menu {
    display: none;
    position: absolute;
    left: 68px; top: 5px;    
    width: 100px;
}
.second-menu > .left {
    float: left;
    margin-top: 10px;
    border-color: transparent #ccc transparent transparent;
}
.second-menu > ul {
    width: 90px;
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
}
.second-menu > ul > li{
    width: 100%;
    text-align: center;
}


.a-data-success {
    color: #444;
}
.a-data-success:hover {
    color: #444;
    text-decoration: underline;
}
.a-data-success:active {
    color: #444;
}
.a-data-failed {
    color: red;
    text-decoration: underline;
}
.a-data-failed:hover {
    color: red;
    text-decoration: underline;
}
.a-data-failed:active {
    color: red;
}

input.search-input {
    width: 250px; height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    background: url(imgs/search-in-txt.png) no-repeat 10px center;
    padding: 0 2px 0 32px;
    outline: none;
    border-radius: 0;
    font-size: 12px;
}
a.btn-search {
    display: inline-block;
    width: 75px; height: 30px;
    margin-left: 10px;
    background: url(imgs/table/btn-search.png) no-repeat 0 0;    
}
a.btn-search:hover {
    background: url(imgs/table/btn-search-hover.png) no-repeat 0 0;    
}
a.btn-search:active {
    background: url(imgs/table/btn-search-down.png) no-repeat 0 0;    
}

.mask-loading-text {
    position: fixed;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    display: none;
    min-height: 320px;
    min-width: 560px;
    background-color: rgba(99,99,99,.5);
    z-index: 80002;
    overflow: auto;
}
.mask-loading-text .hint {
    position: relative;
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.mask-loading-text .hint > a {
    display: inline-block;
    padding: 8px 15px;
    width: auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    background: #FFEEB9;
    color: #333;
    font: normal normal normal 12px/22px 'microsoft yahei';
    cursor: default;
    text-decoration: none;
    outline: 0;
}
.mask-loading-text .hint > a:hover {
    text-decoration: none;
    outline: 0;
}

/*遮罩*/
.mask-loading {
    position: fixed;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    display: none;
    min-height: 320px; min-width: 560px;
    background-color: rgba(30,30,30,.5);
    z-index: 80002;
    overflow: auto;
}
.mask-loading .box {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.mask-loading .box .loader {
    width: 80px;
    height: 80px;
    background: transparent url(imgs/branch-icon/loading.png) no-repeat 0 0;
    -webkit-animation: loader 0.7s infinite linear;
            animation: loader 0.7s infinite linear;
}
/*
.mask-loading .box .loader {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-animation: loader 1.1s infinite linear;
            animation: loader 1.1s infinite linear;
}
*/
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.hide-input {
    display: none;
}

.left {
    float: left;
}
.right {
    float: right;
}

a.btn-sure {
    display: inline-block;
    width: 65px; height: 30px;
    line-height: 30px;
    background: #fff url(imgs/import/sure.png) no-repeat 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
a.btn-sure:hover {
    background: #fff url(imgs/import/sure-hover.png) no-repeat 0 0;
    text-decoration: none;
}
a.btn-sure:active {
    background: #fff url(imgs/import/sure-active.png) no-repeat 0 0;
    text-decoration: none;
}
a.btn-cancel {
    display: inline-block;
    width: 40px; height: 30px;
    line-height: 30px;   
    color: #6d6d6d;
    font-weight: bold;
    font-size: 14px;
    text-align: center; 
    border: 1px solid #fff;
}
a.btn-cancel:hover {
    border: 1px solid #ddd;
    text-decoration: none;
}
a.btn-cancel:active {
    background-color: #eee;
    text-decoration: none;
}
a.btn-save {
    display: inline-block;
    width: 40px; height: 30px;
    line-height: 30px;   
    color: #6d6d6d;
    font-weight: bold;
    font-size: 14px;
    text-align: center; 
    border: 1px solid #ddd;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);
}
a.btn-save:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}
a.btn-save:active {
    background-color: #eee;
    text-decoration: none;
}
a.td-option {
    color: #428bca;
}
a.td-option:hover {
    color: #428bca;
}
i.td-separator {
    background: none repeat scroll 0 0 #ccc;
    display: inline-block;
    height: 12px;
    margin: -2px 5px 0 5px;
    vertical-align: middle;
    width: 1px;
}

.data-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    min-width: 550px;
    min-height: 150px;
    background-color: rgba(0,0,0,.2);
    z-index: 80000;
    overflow: auto;
}
.data-modal .box-fixed {
    position: relative;
    width: 450px;
    height: auto;
    min-height: 150px;
    max-height: 500px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}
.data-modal .box .back-img {
    width: 100px;   
    height: 100%; 
    min-height: 150px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    vertical-align: middle;
}
.data-modal .box .content {
    position: relative;
    min-width: 340px;
    max-width: 340px;
    height: auto;
    min-height: 150px;
    max-height: 500px;
    overflow: hidden; 
    float: left;
    padding: 10px 0 50px 5px;
}

.loader {
    width: 80px;
    height: 80px;
    background: transparent url(imgs/branch-icon/loading.png) no-repeat 0 0;
    -webkit-animation: loader 0.7s infinite linear;
            animation: loader 0.7s infinite linear;
}
.data-modal .box-fixed .title span {
    color: #555;
    font: normal normal bold 16px/40px 'microsoft yahei';
}
.data-modal .box-fixed .text-fixed {
    width: 330px;
    min-height: 46px;
    color: #666;
    font: normal normal normal 14px/24px 'microsoft yahei';
    vertical-align: middle;
}
.data-modal .box-fixed .text-auto-height {
    width: 330px;
    min-height: 46px;
    color: #666;
    font: normal normal normal 14px/26px 'microsoft yahei';
    vertical-align: middle;
}
.btn-save-border {
    padding: 3px 16px;
    color: #666;
    box-shadow: 0 0 7px #ccc;   
    background-color: #fff; 
    outline: none;
}
.btn-save-border:hover {
    background-color: #f5f5f5; 
}
.box .foot { 
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 40px;
    padding: 5px 10px 0 0;
}
.box .content .text {
    max-height: 145px;
    overflow-y: auto;
}
.data-modal .box .foot a.close{
    margin-top: -5px;
    color: #333;
    opacity: .8;
    font: normal normal normal 14px/40px 'microsoft yahei';
}
.data-modal .box .foot a.close:hover {
    opacity: 1;    
}
.data-modal .box {
    background: #fff;    
}
.modal-loaded.modal-right .back-img {
    background: #fff url(imgs/branch-icon/data-ok.png) no-repeat center center;  
}
.modal-loaded.modal-wrong .back-img {
    background: #fff url(imgs/branch-icon/data-wrong.png) no-repeat center center;  
}
.modal-ask .back-img  {
    background: #fff url(imgs/branch-icon/data-ask.png) no-repeat center center;      
}
.modal-alert .back-img  {
    background: #fff url(imgs/branch-icon/alert.png) no-repeat center center;      
}

@font-face {
  font-family: "iconfont";
  src: url('../libs/fonts/icon/iconfont.eot'); /* IE9*/
  src: url('../libs/fonts/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../libs/fonts/icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../libs/fonts/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../libs/fonts/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-font01:before { content: "\e600"; }
.icon-font02:before { content: "\e601"; }
.icon-font03:before { content: "\e602"; }
.icon-font04:before { content: "\e603"; }
.icon-font05:before { content: "\e604"; }
.icon-font06:before { content: "\e605"; }
.icon-font07:before { content: "\e606"; }
.icon-font08:before { content: "\e607"; }
.icon-font09:before { content: "\e608"; }
.icon-font10:before { content: "\e609"; }
.icon-font11:before { content: "\e60a"; }
.icon-font12:before { content: "\e60b"; }
.icon-font13:before { content: "\e60c"; }
.icon-font14:before { content: "\e60d"; }
.icon-font15:before { content: "\e60e"; }
.icon-font16:before { content: "\e60f"; }
.icon-font17:before { content: "\e610"; }
.icon-font18:before { content: "\e611"; }
.icon-font26:before { content: "\e612"; }
.icon-font27:before { content: "\e613"; }
.icon-font28:before { content: "\e614"; }
.icon-font29:before { content: "\e615"; }
.icon-font30:before { content: "\e616"; }
.icon-font31:before { content: "\e617"; }
.icon-font19:before { content: "\e618"; }
.icon-font20:before { content: "\e619"; }
.icon-font21:before { content: "\e61a"; }
.icon-font22:before { content: "\e61b"; }
.icon-font23:before { content: "\e61c"; }
.icon-font24:before { content: "\e61d"; }
.icon-font25:before { content: "\e61e"; }
.icon-font35:before { content: "\e61f"; }
.icon-font36:before { content: "\e620"; }
.icon-font38:before { content: "\e621"; }
.icon-font39:before { content: "\e622"; }
.icon-font41:before { content: "\e623"; }
.icon-font42:before { content: "\e624"; }
.icon-font44:before { content: "\e625"; }
.icon-font45:before { content: "\e626"; }
.icon-font47:before { content: "\e627"; }
.icon-font48:before { content: "\e628"; }
.icon-font50:before { content: "\e629"; }
.icon-font51:before { content: "\e62a"; }
.icon-font53:before { content: "\e62b"; }
.icon-font54:before { content: "\e62c"; }
.icon-font56:before { content: "\e62d"; }
.icon-font32:before { content: "\e62e"; }
.icon-font33:before { content: "\e62f"; }
.icon-font34:before { content: "\e630"; }
.icon-font37:before { content: "\e631"; }
.icon-font40:before { content: "\e632"; }
.icon-font43:before { content: "\e633"; }
.icon-font46:before { content: "\e634"; }
.icon-font49:before { content: "\e635"; }
.icon-font52:before { content: "\e636"; }
.icon-font55:before { content: "\e637"; }


.icon-57:before { content: "\e638"; }
