.PopUpBox{ border:0px solid #70a1c2; background-color:#FFFFFF;margin-left:3px;font-size:13px;}
/*.PopUpBoxTitle{border:1PX solid #90cbed; height:21px; line-height:21px; background-image:url(../images/PopUpBoxBg.jpg); color: #FFFFFF; font-weight:bold; padding-left:8px;}
.PopUpBoxTitle span img{ vertical-align:middle; float:right; margin-right:11px; margin-top:6px; cursor:pointer;}*/
.PopUpBox p{ margin:5px 0 5px 3px;font-size: 13px;}
.PopUpBox div a{color:#15428b; height:26px; line-height:26px; cursor:pointer;margin: 0 5px 0 5px;font-size: 14px;}
.PopUpBox div a:hover{ text-decoration:underline;}
.PopUpBoxArrow{ margin-top:-4px; margin-left:10px;}
/*.TitlePic{ float:right; vertical-align:middle; margin-right:11px; margin-top:6px; cursor:pointer;}
.TitlePic img{ margin-left:6px;}
.flTitileText{ float:left;}*/
.current{background-image:none;background-color:#c3e4f3; border:1px solid #9bb8c7;}
.top_oper{float: right;margin: 8px 5px 5px 0;}
.top_oper span{color:#15428b; height:26px; line-height:26px; cursor:pointer;margin: 0 5px 0 5px;font-size: 13px;font-weight: bold;vertical-align: middle;}
.top_oper img{margin-bottom: -7px}
.historyButton{ /* 是当前样式*/
	height:20px; width:30px; line-height:20px;
	border:1px solid #30272b; background-color:#605a5d;
	-moz-border-radius:5px;-khtml-border-radius:5px;-wwbkit-border-radius:5px;border-radius:5px; 
	vertical-align:middle; cursor:pointer;padding-left:2px\0; padding-top:1px\0; *margin-right:4px;
}
.historyButton_on{ /*是鼠标经过*/ 
	vertical-align:middle;height:20px; width:30px;
	line-height:20px; border:1px solid #30272b; background-color:#70686c; 
	-moz-border-radius:5px;-khtml-border-radius:5px;-wwbkit-border-radius:5px;border-radius:5px;
	cursor:pointer; padding-left:2px\0; padding-top:1px\0; *margin-right:4px;
}
.navmenu{ background-image:url(../images/lisTitleBg_h.jpg); height:32px; line-height:32px; width:99%; border:1px solid #adbecf; color:#1062b0; font-weight:bold; cursor:pointer;margin-top: 1px;}
.navmenu_point{ background-image:url(../images/lisTitleBg.jpg); height:32px; line-height:32px; width:99%; border:1px solid #adbecf; color: #FFFFFF; font-weight:bold;cursor:pointer;margin-top: 1px;}
.navmenu img,.navmenu_point img{ vertical-align:middle; margin-right:4px;}

.formtable {width: 100%;background-color: #F2F7FE;align: right;border-collapse: separate;border-spacing: 2px;border-color: red;}
.inputTxt {width: 150px;border:1px solid #79b6d4;height: 18px;}
.Validform_label {font-size: 12px;font-weight: bold;color: #5E7595;}
.Validform_valTd {font-size: 12px;background-color: #FFFFFF;padding: 5px;align: left;}

/*谷歌地图车辆marker的label样式*/
.gg_carlabel{
	
}
a{
 font-size:12px;
 color:#006699;
 text-decoration:none;
}
a:link{
 font-size:12px;
 color:#0E2D5F;
 text-decoration:none;
}
a:active{
 font-size:12px;
 color:#5E7595;
}
a:hover{
 font-size:12px; 
 color:#3366ff;
 text-decoration:underline;
}
.gg_poilabel{
}