/*表格*/
.data-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 450px;
  height: 40px;
  z-index: 77778;
  background-color: #fff;
  overflow: hidden;
  border-right: 1px solid #ddd;
}
.data-list .head {
  height: 40px;
}
.data-list .head .title {
  position: relative;
  float: left;
  background: #0096ff url(../imgs/table/title-marker.png) no-repeat 4px center;
  color: #fff;
  font: normal normal bold 14px/40px 'microsoft yahei';
  padding-left: 28px;
  cursor: pointer;
}
.data-list .head .import {
  float: left;
  width: 122px;
  height: 40px;
  background: #fff url(../imgs/table/title-import.png) no-repeat 10px center;
  color: #333;
  font: normal normal bold 14px/37px 'microsoft yahei';
  padding-left: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.data-list .head .import:hover {
  background-color: #f5f5f5;
}
.data-list .head .resize {
  float: left;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff;
}
.data-list .head .resize:hover {
  background-color: #f5f5f5;
}
.data-list .head .second {
  border-left: 1px solid #ddd;
  width: 40px;
}
.data-list .head .third {
  border: 1px solid #ddd;
  border-top: 0;
  border-right: 0;
  display: none;
}
.data-list .head .up {
  background: #fff url(../imgs/table/up-top.png) no-repeat center center;
}
.data-list .head .right {
  background: #fff url(../imgs/table/up-right.png) no-repeat center center;
}
.data-list .head .min {
  background: #fff url(../imgs/table/min.png) no-repeat center center;
}
.data-list .head .left {
  background: #fff url(../imgs/table/up-left.png) no-repeat center center;
}
.data-list .head .bottom {
  background: #fff url(../imgs/table/down-bottom.png) no-repeat center center;
}
.data-list .content {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  display: none;
}
.data-list .content .search-area {
  height: 50px;
  padding: 10px 0 0 10px;
}
.data-list .data-results {
  overflow: auto;
  width: 450px;
  height: 250px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.data-list .data-results.head-fixed {
  overflow-x: auto;
  overflow-y: hidden;
}
.data-list .data-results .overflow-y-auto {
  position: relative;
  min-width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}
.data-list .data-table {
  position: relative;
  border: none;
  margin: 0;
}
.data-list .data-table.thead {
  height: 40px;
}
.data-list .data-table > thead {
  height: 40px;
  background-color: #EDEBE9;
}
.data-list .data-table > thead > tr {
  background: transparent;
  color: #555;
}
.data-list .data-table > thead td {
  border: 1px solid #fff;
}
.data-list .data-table > thead .a-head {
  font-size: 12px;
  color: #444;
  font-family: 'microsoft yahei';
  font-weight: bold;
}
.data-list .data-table > thead .a-head:hover {
  text-decoration: none;
}
.data-list .data-table > thead .a-head:active {
  text-decoration: none;
}
.data-list .data-table > thead .dropdown-menu {
  min-width: 80px;
  box-shadow: none;
  border-radius: 0;
}
.data-list .data-table > thead .dropdown-menu > li > a {
  font: normal normal normal 12px/24px 'microsoft yahei';
  padding: 0;
  text-align: center;
}
.data-list .data-table > thead .dropdown-menu > li > a:hover {
  background: #f5f5f5;
  color: #333;
}
.data-list .data-table > tbody td {
  border: 1px solid #ddd;
  /*overflow: hidden;*/
  /*word-break: break-all;*/
  word-wrap: break-word;
}
.data-list .data-table > tbody td[data-editable] {
  cursor: pointer;
}
.data-list .data-table > tbody tr.action {
  background-color: #8CD9FC;
}
.data-list .data-table > tbody tr.error {
  color: red;
}
.data-list .data-table td {
  max-width: 300px;
  text-align: center;
  word-break: break-all;
}
.data-list .data-table td.td-60 {
  min-width: 60px;
}
.data-list .data-table td.td-80 {
  min-width: 80px;
}
.data-list .data-table td.td-100 {
  min-width: 100px;
}
.data-list .data-table td.td-150 {
  min-width: 160px;
}
.data-list .data-table td.td-200 {
  min-width: 200px;
}
.data-list .data-table td.td-300 {
  min-width: 300px;
}
.data-list .foot {
  width: 100%;
  height: 50px;
  padding: 0;
}
.data-list .foot .a-foot {
  font-size: 14px;
  font-family: 'microsoft yahei';
  font: normal normal normal 14px/50px 'microsoft yahei';
  margin-right: 7px;
}
.data-list .foot .content-pager {
  margin-top: 5px;
}
.data-list .foot .page-marker {
  color: #333;
  margin-left: 5px;
  font: normal normal normal 12px/50px 'microsoft yahei';
}
.data-list .table-branches-count {
  width: 100%;
  height: 100%;
  display: none;
  padding: 25px 0;
}
.data-list[status="min"] {
  width: 450px;
  height: 40px;
}
.data-list[status="min"]:not(.less) .title {
  width: 247px;
}
.data-list[status="min"].less .title {
  width: 369px;
}
.data-list[status="min"] .tab-icon-style {
  width: 90px;
}
.data-list[status="min"] .content {
  display: none;
}
.data-list[status="min"] .third {
  display: none;
}
.data-list[status="left-max"] {
  width: 450px;
  height: calc(100% - 40px);
}
.data-list[status="left-max"]:not(.less) .title {
  width: 247px;
}
.data-list[status="left-max"].less .title {
  width: 369px;
}
.data-list[status="left-max"] .tab-icon-style {
  width: 90px;
}
.data-list[status="left-max"] .content {
  display: block;
}
.data-list[status="left-max"] .content .triangle-top.back {
  left: 190px;
}
.data-list[status="left-max"] .content > .data-results {
  width: 450px;
  height: calc(100% - 100px);
}
.data-list[status="left-max"] .table-branches-detail .data-results {
  width: 450px;
  height: calc(100% - 100px);
}
.data-list[status="left-max"] .table-branches-count .data-results {
  width: 450px;
  height: 100%;
}
.data-list[status="left-max"] .icon-selector {
  width: 400px;
}
.data-list[status="left-max"] .third {
  display: none;
}
.data-list[status="bottom-max"] {
  width: 100%;
  height: 300px;
}
.data-list[status="bottom-max"] .title {
  width: calc(100% - 205px);
}
.data-list[status="bottom-max"]:not(.less) .title {
  width: calc(100% - 205px);
}
.data-list[status="bottom-max"].less .title {
  width: calc(100% - 83px);
}
.data-list[status="bottom-max"] .tab-icon-style {
  width: 50%;
}
.data-list[status="bottom-max"] .table-branches-detail .data-results {
  width: 100%;
  height: calc(100% - 100px);
}
.data-list[status="bottom-max"] .table-branches-count .data-results {
  width: 100%;
  height: 100%;
}
.data-list[status="bottom-max"] .content {
  display: block;
}
.data-list[status="bottom-max"] .content .triangle-top.back {
  left: calc((100% - 205px)*0.75);
}
.data-list[status="bottom-max"] .content > .data-results {
  width: 100%;
  height: calc(100% - 100px);
}
.data-list[status="bottom-max"] .icon-selector {
  width: calc(100% - 480px);
}
.data-list[status="bottom-max"] .third {
  display: none;
}
.data-list[status="max"] {
  width: 100%;
  height: calc(100% - 40px);
}
/*&:not(.less) .title {
      width: ~"calc(100% - 205px)";
    }

    &.less .title {
      width: ~"calc(100% - 121px)";
    }*/
.data-list[status="max"] .title {
  width: calc(100% - 121px);
}
.data-list[status="max"] .third {
  display: block;
}
.data-list[status="max"] .table-branches-detail .data-results {
  width: 100%;
  height: calc(100% - 100px);
}
.data-list[status="max"] .table-branches-count .data-results {
  width: 100%;
  height: 100%;
}
.data-list[status="max"] .content {
  display: block;
}
.data-list[status="max"] .content .triangle-top.back {
  left: calc((100% - 245px)*0.75);
}
.data-list[status="max"] .content > .data-results {
  width: 100%;
  height: calc(100% - 100px);
}
.data-list[status="max"] .icon-selector {
  width: calc(100% - 480px);
}
.data-list[status="max"] .tab-icon-style {
  width: 50%;
}
/*灰色背景*/
.data-edit-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  min-height: 320px;
  min-width: 560px;
  background-color: rgba(9, 9, 9, 0.1);
  z-index: 80000;
  overflow: auto;
}
.data-edit-back .box {
  position: relative;
  width: 250px;
  height: 120px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
}
.data-edit-back .box .input-text,
.data-edit-back .box .input-select {
  width: 215px;
  border: 1px solid #ddd;
  outline: none;
  padding: 5px;
  margin: 10px 15px 0 15px;
  font-size: 12px;
  font-family: 'microsoft yahei';
  line-height: 22px;
  color: #444;
}
.data-edit-back .box .input-select {
  margin: 5px 15px 0 15px;
}
.data-edit-back .box .input-textarea {
  width: 215px;
  height: 90px;
  margin: 10px 15px 0 15px;
  border: 1px solid #ddd;
  outline: none;
  padding: 5px;
  font-size: 12px;
  font-family: 'microsoft yahei';
  line-height: 22px;
  color: #444;
}
.data-edit-back .box .input-label {
  display: block;
  width: 215px;
  margin: 10px 15px 0 15px;
  font-size: 12px;
  font-family: 'microsoft yahei';
  line-height: 22px;
  color: #999;
}
.data-edit-back .box .foot {
  padding: 0 10px;
}
.data-import {
  z-index: 77779;
}
.data-import .box {
  position: relative;
  width: 550px;
  height: 310px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  top: 50%;
  margin-top: -150px;
}
.data-import .box .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}
.data-import .box .title .close {
  line-height: 40px;
}
.data-import .box .title .text {
  float: left;
  font-size: 16px;
  font-weight: bold;
  font-family: 'microsoft yahei';
  color: #3b3b3b;
}
.data-import .box .body {
  width: 100%;
  height: 165px;
  border-bottom: 1px solid #ddd;
  padding-top: 45px;
}
.data-import .box .body .select-file {
  width: 100%;
}
.data-import .box .body .select-file a.btn-select-file {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff url(../imgs/import/selectfile.png) no-repeat 0 0;
  margin: 0 auto;
}
.data-import .box .body .select-file a.btn-select-file:hover {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff url(../imgs/import/selectfile-hover.png) no-repeat 0 0;
}
.data-import .box .body .select-file a.btn-select-file:active {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff url(../imgs/import/selectfile-active.png) no-repeat 0 0;
}
.data-import .box .body .select-file a.btn-during-import {
  display: block;
  width: 165px;
  height: 54px;
  background: #fff url(../imgs/import/during.png) no-repeat 0 0;
  margin: 0 auto;
}
.data-import .box .body .select-file #txt_import_branches {
  width: 250px;
  height: 24px;
  margin: 0 auto;
}
.data-import .box .body .import-hint {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
.data-import .box .body .import-hint.black {
  color: #333;
}
.data-import .box .body .import-hint.gray {
  color: #999;
}
.data-import .box .download-area {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 5px 50px 0 50px;
}
.data-import .box a.btn-download-branches {
  display: inline-block;
  width: 170px;
  height: 38px;
  line-height: 38px;
  background: #fff url(../imgs/import/down.png) no-repeat 5px 5px;
  padding-left: 30px;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'microsoft yahei';
  color: #777;
  text-decoration: none;
}
.data-import .box a.btn-download-branches:hover {
  border: 1px solid #ddd;
  text-decoration: none;
}
.data-import .box a.btn-download-branches:active {
  background-color: #eee;
  text-decoration: none;
}
.data-import .box .foot {
  width: 100%;
  padding: 5px 40px 0 0;
}
/*# sourceMappingURL=data-list.css.map */
