@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main {
  width: 100%;
  position: relative;
}
.main #map {
  width: 100%;
  height: 100%;
}
.main .toolBar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
}
.main .toolBar .toolbox {
  float: left;
  min-width: 100px;
  height: 35px;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 8px #ccc;
}
.main .toolBar .toolbox .toolbar-child {
  float: left;
  line-height: 35px;
  cursor: pointer;
}
.main .toolBar .toolbox .toolbar-child:hover span,
.main .toolBar .toolbox .toolbar-child.active span {
  color: #449df2;
}
.main .toolBar .toolbox i {
  width: 1px;
  height: 15px;
  margin: 10px 10px;
  display: block;
  float: left;
  border-right: 1px dashed #bbb;
}
.main .toolBar .detail-act {
  float: left;
  min-width: 50px;
  margin-left: 10px;
  height: 35px;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 8px #ccc;
  display: none;
}
.main .toolBar .detail-act span {
  display: block;
  float: left;
  cursor: pointer;
  line-height: 35px;
}
.main .toolBar .detail-act span.active {
  color: #449df2;
}
.main .toolBar .detail-act i {
  width: 1px;
  height: 15px;
  margin: 10px 10px;
  display: block;
  float: left;
  border-right: 1px dashed #bbb;
}
.amap-info-contentContainer .amap-ui-infowindow-close {
  color: #ffffff;
  display: none;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body {
  border: none;
  padding: 0;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body h3 {
  background: #449df2;
  padding: 2px 5px 2px 2px;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body h3 strong {
  font-weight: 100;
  color: #ffffff;
  line-height: 28px;
  padding-left: 3px;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body h3 #title {
  float: left;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body h3 a {
  float: right;
  margin-left: 10px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body h3 a:hover {
  color: #cccccc;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body .amap-ui-infowindow-body label {
  font-size: 12px;
  line-height: 24px;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body .amap-ui-infowindow-body span {
  width: 179px;
}
.amap-info-contentContainer .amap-ui-smp-ifwn-content-body .amap-ui-infowindow-body button {
  width: 35px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333333;
}
.amap-marker-label {
  border: none;
  box-shadow: 2px 2px 3px #ccc;
}
