/*reset && base*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, img, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol, li {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

a {
    color: #333;
}

/*头部的样start式*/
.top_menu{ font-size:16px; color:#FFFFFF;display:inline; overflow:hidden; clear:both; width:1000px;height: 78px;}
.top_menu_logo{ float:left; display:inline;}
.top_menu_bg{background-image: url(images/top_bg.jpg);background-repeat: repeat-x;background-position: left top;float:left; display:inline;width:100%; height:78px; display:inline;}
.top_menu_bg ul{ margin-left:30px; margin-top:20px;}
.top_menu_bg ul li{list-style:none; display:inline;  margin-left:30px; color:#FFFFFF; font-size:16px; font-weight:bold;}
.top_menu_bg ul li img{ margin-left:20px;vertical-align:middle;}
.top_menu_bg table{margin-top:20px;margin-left:60px;text-align:center;width:500px;font-size:16px;color:#FFFFFF;font-weight: bold;}
.top_menu_bg table tr td{ margin-right:20px;}
.top_menu span{ float:right; margin-right:8px; color:#FFFFFF; padding-bottom:8px;}
.top_menu_bg ul li a:link,.top_menu_bg ul li a:visited{ color:#FFFFFF;text-decoration: none;}
.top_menu_bg ul li a:hover{color:#FFFFFF;text-decoration: underline;}
.top_menu span { float:right; margin-bottom:10px; color:#FFFFFF; margin-right:8px;} 
.top_menu span img{ margin-right:4px;}
/*头部样式end*/

div,p,ul,li{margin:0;padding:0;color:#000000; font-size:12px; font-family:"microsoft yahei";}
body {font-family: "microsoft yahei";width:1000px;font-size: 12px; padding:0; margin:0 auto; }
.Auth-code{color:#FF0000;font-size:16px;font-style: italic;letter-spacing: 4px;}
.xuxian{width:830px; border-bottom-style:dashed;border:1px #999999 dashed; height:1px;margin-top:10px;}
img{ border:0;}
.content {
    width: 100%;
    min-height: 1000px;
    height: auto;
    display: block;
    overflow: hidden;
}

/*左边的菜单样式start*/
.left_box{ float:left; margin-top:4px; border:1px solid #C1DEE2; width:230px; margin-bottom:4px; min-height:800px;}
.left_title{font-size:15px;line-height:30px;font-weight: bold; background-color:#F3FAFC; border-bottom:1px solid #C1DEE2; padding-left:10px; }
.left_menuTitle{ margin-left:10px; font-size:12px; color:#064875; margin-top:10px;}
.left_menuTitle ul{margin-left:10px; }
.left_menuTitle li{font-size:12px; color:#064875; text-decoration:none; line-height:21px;list-style:none; cursor:pointer;}
.left_menuTitle b{ padding-right:6px; vertical-align:middle; margin-top:6px;}
.left_menuTitle li a{color:#064875; text-decoration:none;}
.menu{ margin-left:59px; display:none;}
.menu li{ list-style:none; height:30px; color:#064875;}
/*左边的菜单样式end*/

/*右边的内容stant*/
.right_box{ margin-top:4px;float:left; width:760px; margin-left:4px;min-height: 1000px;}
/*搜索的样式start*/
.search{ background-color:#F3FAFC;border:1px solid #C1DEE2;  height:52px;*height:50px; }
.search table{ margin-top:6px; margin-left:13px;}
.search table input{ width:270px; height:25px; border:1px solid #CDD4DA; background-color:#FFFFFF;}/*搜索的样end式*/


.lis{ margin-left:8px; list-style:none; margin-bottom:10px; margin-left:15px; margin-right:10px; clear:both;}
.introduce{ color: #666666; margin-top:10px;}

/*产品样式start*/
.product{ clear:both; float:left;}
.product_title{ margin:10px 0px 10px 20px; color:#EF8821; font-size:14.5px; font-weight:bold;}
.line{height:1px; width:750px;background:#C1DEE2; overflow:hidden; margin-top:20px; margin-bottom:10px;}/*线的样式*/
.result_product_num{ float:left; width:30px; padding-left:10px; margin-top:10px;}/*产品序号*/
.result_product_pic{ float:left; padding-right:19px; padding-bottom:7px;*padding-bottom:0px;}/*产品图片的样式*/
/*产品文字样式*/
.data{ margin-top:8px;float:left; width:560px;}
.data_title{ font-size:13.5px; font-weight:bold;color:#064875;overflow:hidden; magin:10px 0 6px 0;}
.data_massage{ line-height:21px; color:#666666;}
.addtocart{ float:right; padding-right:10px; margin-top:20px;}/*申请收藏按钮的样式*/
.addtocart div{ margin-bottom:6px; }/*申请收藏按钮的样式*/
.pag{background-color:#F3FAFC;border:1px solid #C1DEE2;  height:45px; margin-top:4px; clear:both;}
.pag div{ text-align:center; margin-top:13px;color:#064875;}
.PagGray_text{ color:#999999;}
.PagCrrent{ font-weight:bold; color:#000000;}

/*产品样式end*/
/*右边的内容stant*/

/*申请细则样式start*/
.rule{ clear:both;color:#666666; margin-left:4px;}
.rule p{ line-height:21px;color:#666666;}
.rule ul li{ list-style:none;  line-height:21px;color:#666666;}/*申请细则样式end*/
/*留言样式start*/ 
.leave_word{ clear:both;}
.leave_word span{ line-height:21px; vertical-align:middle;}
.leave_word div textarea{ width:730px; height:100px; background-color: #FFFFFF; border:1px solid #C1DEE2; padding:4px; font-size:13px; font-family:"宋体";}
.leave_word div img{ vertical-align:middle; margin-top:4px; }
.leave_word div a{ margin-left:4px; margin-right:8px; padding-top:10px;}
.leave_word div input{ vertical-align:middle; margin-top:2px;}
.leave_word div label input{ width:60px; height:23px; border:#666666 1px solid; vertical-align:middle;background-color:#F0F0F0; cursor:pointer;}/*留言样式end*/
/*申请试用页面样式end*/
/*申请表start*/
.reg{ margin-bottom:4px;}
.reg_main{background-image:url(../images/reg-3.jpg);background-repeat: repeat-y;background-position: left top; width:657px;}
.reg_main span{ text-align:center; font-size:16px; font-weight:bold; margin-left:50px;}
.reg_main table{ width:600px; margin:0 auto; margin-top:10px; font-size:12px; font-family:"宋体"; margin-left:30px;}
.reg_main table input,.reg_main table textarea{ width:220px; font-size:12px; font-family:"宋体";}
.reg_main table textarea{ height:80px;}
.reg_main table tr td{ height:31px;ine-height:21px;}
/*申请表end*/


.footer {
    width: 100%;
    min-height: 430px;
    /*background-color: #f5f5f5;*/
}

.footer .wrapper {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}
.footer .wrapper .line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ccc;
    margin-bottom: 50px;
    float: left;
}

.footer .wrapper ul {
    float: left;
    padding-top: 3px;
    line-height: 24px;
}
.footer .wrapper ul li{
    float: left;
    width: 180px;
    line-height: 20px;
    border-right: 1px solid #ccc;
    padding-left: 40px;
}
.footer .wrapper ul li dt{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #212121;
    margin-bottom: 10px;
    font-weight: normal;
}
.footer .wrapper ul li dd {
    line-height: 24px;
}
.footer .wrapper ul li dd a {
    font-size: 14px;
    font-family: 'microsoft yahei';
    color: #6d6d6d;
    text-decoration: none;
}
.footer .wrapper .tele {
    width: 250px;
    text-align: center;
    float: left;
}
.footer .wrapper .tele p{
    color: #5bc0de;
    font-size: 18px;
    font-weight: bold;
}
.footer .wrapper .tele div {
    margin: 15px 0;
}
.footer .wrapper .copyright {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'microsoft yahei';
    color: #6d6d6d;
    float: left;
    margin-bottom: 80px;
}
