/*顶部*/
.content {
    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
}

.content-body {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding-left: 40px;
    padding-top: 20px;
}
.content-head {
    width: 750px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-family: "microsoft yahei";
    font-size: 16px;
}
.content-head a {
    margin-right: 20px;
}

.content-head span {
    margin-left: 20px;
}
.orders {
    background-color: #fff;
    width: 750px;
    margin: 0 auto;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 50px;
}

.item-line {    
    font-family: "microsoft yahei";
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 26px;
    vertical-align: top;
}
.item-attr {
    color: #5E9EC4;
    display: inline-block;
    width: 120px;
    float: left;
}
.item-value {
    color: #333;
}
.solutions {
    color: #333;
    display: inline-block;
}
.hint {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.hint span{
    font-family: 'microsoft yahei';
    font-size: 16px;
    font-weight: bold;
}
.btndiv {
    width: 100%;
    text-align: center;
}

.btndiv a{
    margin-top: 15px;
    width: 150px;
}